<div class="row">
    <div class="ticket-comment-wrapper">
        <div class="col-lg-12" style="padding-left: 40px; padding-right: 40px;">
            <div class="row">
                <div class="pull-left commenter-img">
                    <small class="bold "> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
                <div class="pull-right">
                    <small>06/Sep/16 11:01 AM</small>
                </div>
            </div>



        </div>

    </div>
</div>