<div class="row">
    <div class="ticket-comment-wrapper">
        <div class="col-lg-12" style="padding-left: 40px; padding-right: 40px;">
            <div class="row">
                <div class="pull-left commenter-img">
                    <img src="assets/img/avatar/amarkdalen.jpg"/>
                    <small class="bold color-green500">JACKSON WHITE</small>
                    <small>add a comment</small>

                </div>
                <div class="pull-right">
                    <small>3 days ago</small>
                </div>
            </div>
            <div class="row">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s,
            </div>


        </div>

    </div>
</div>

<div class="row">
    <div class="ticket-comment-wrapper">
        <div class="col-lg-12" style="padding-left: 40px; padding-right: 40px;">
            <div class="row">
                <div class="pull-left commenter-img">
                    <img src="assets/img/avatar/oykun.jpg"/>
                    <small class="bold color-green500">JACKSON WHITE</small>
                    <small>add a comment</small>

                </div>
                <div class="pull-right">
                    <small>3 days ago</small>
                </div>
            </div>
            <div class="row">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s,
            </div>


        </div>

    </div>
</div>