<div class="row">
    <div class="comment-wrapper">
        <div class="col-lg-12">
            <div class="new-note-wrapper ">
                <label class="label-green">comment</label>
                <textarea class="form-control" rows="3" ng-model="newComment"></textarea>
                <div class="row">
                    <div class="col-md-4" style="margin-top: 8px;">
                        <select class="form-control " placeholder=""
                                ng-model="messageMode">
                            <option selected>public</option>
                            <option>private</option>
                            <option>internal</option>
                        </select>
                    </div>
                </div>


                <div class="btn-warp inline-btn  p-top-6 ">
                    <span class="btn  btn-default btn-block "
                          ng-click="addComment(newComment,this.messageMode)">add</span>
                </div>
                <div class="btn-warp inline-btn  p-top-6 ">
                    <span class="btn  btn-default btn-close btn-block ">cancel</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-show="isPlay" class="videogular-container audio">

    <videogular vg-auto-play="true" vg-player-ready="onPlayerReady($API)" vg-complete="onPlayerComplete($API);">
        <vg-media vg-src="config.sources"
                  vg-tracks="config.tracks"
                  vg-native-controls="true" vg-type="audio">
        </vg-media>
    </videogular>
    <i class="main-icon-2-cancel" ng-click="closePlayer()"> </i>
</div>

<div class="row" ng-repeat="comment in ticket.comments">
    <div class="ticket-comment-wrapper">
        <div class="col-lg-12" style="padding-left: 40px; padding-right: 40px;">
            <div class="row">
                <div class="pull-left commenter-img">
                    <img src="{{comment.author.avatar}}"/>
                    <small class="bold color-green500">{{comment.author.name}}</small>
                    <small class="sub-note" ng-show="comment.public=='public'"> replied</small>
                    <small class="sub-note" ng-show="comment.public=='private'"> noted</small>
                    <small class="sub-note" ng-show="comment.public=='internal'"> commented</small>

                </div>
                <div class="pull-right">
                    <small>
                        <time-ago from-time='{{ comment.created_at }}'></time-ago>
                    </small>
                    <div class="row " ng-show="comment.engagement_session && comment.public=='public'">
                        <small class="pull-right">Delivered</small>
                    </div>
                    <div class="row " nclass="row mment.engagement_session && comment.public=='public'">
                        <small class="pull-right">Not delivered</small>
                    </div>
                </div>
            </div>
            <div class="row">
                {{comment.body}}
            </div>
            <div ng-show="comment.channel==='call'">
                <a href="javascript:void(0);"><i class="fa fa-play"
                                                 ng-click="playFile(comment.engagement_session)">Play</i></a>
            </div>

        </div>

    </div>

</div>

<!--<div class="row">
    <div class="ticket-comment-wrapper">
        <div class="col-lg-12" style="padding-left: 40px; padding-right: 40px;">
            <div class="row">
                <div class="pull-left commenter-img">
                    <img src="assets/img/avatar/oykun.jpg"/>
                    <small class="bold color-green500">JACKSON WHITE</small>
                    <small>add a comment</small>

                </div>
                <div class="pull-right">
                    <small>3 days ago</small>
                </div>
            </div>
            <div class="row">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s,
            </div>
        </div>
    </div>
</div>-->

