<div class="agent-dashboard-wrapper animated fadeIn" ng-controller="agentDashboardCtrl" >
    <div class="container">



        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="dashboard-wrapper">
                <div id="dashboard-opacity"></div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-7">
                            <div class="dark-dashboard-header">

                                <div class="header">
                                    AGENT DASHBOARD
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="dark-pro-chart-wrap" >

                                        <canvas id="doughnut" class="chart-base" chart-type="type"
                                                chart-data="pieDataset" chart-labels="labels" chart-options="doughnutoptions">
                                        </canvas>

                                    </div>
                                    <div class="dark-product-wrapper">
                                        <div class="col-lg-4">
                                            <div class="dark-product-ticker-wrap">
                                                <h1 class="Staffed">{{productivity.StaffedTime| date:'HH:mm:ss'}}</h1>
                                                <div class="title Staffed">Staffed Time</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="dark-product-ticker-wrap">
                                                <h1 class="onCall">{{productivity.OnCallTime| date:'HH:mm:ss'}}</h1>
                                                <div class="title onCall">On Call Time</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="dark-product-ticker-wrap">
                                                <h1 class="onCall">{{productivity.BreakTime| date:'HH:mm:ss'}}</h1>
                                                <div class="title onCall">Break Time</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-5" style="padding-right: 3px;">

                            <div class="dark-ticker-wrapper">
                                <div class="col-lg-12">
                                    <h5 class="dark-header">TICKET</h5>
                                </div>

                                <div class="col-lg-6">
                                    <div class="dark-ticker-wrap">
                                        <h1>{{openTicketCount}}</h1>
                                        <div class="title">open</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="dark-ticker-wrap">
                                        <h1>{{resolveTicketCount}}</h1>
                                        <div class="title">resolve</div>
                                    </div>
                                </div>
                            </div>

                            <div class="dark-chart-wrapper">
                                <div class="col-lg-12">
                                    <h5 class="dark-header text-uppercase">Open vs Close</h5>
                                </div>
                                <canvas width="436px" height="200px"  id="line" chart-colors="colors" class="chart chart-line" chart-data="openCloseData"
                                        chart-labels="dataRange" chart-series="openCloseSeries" chart-options="options"
                                         >
                                </canvas>


                            </div>
                            <div class="dark-chart-wrapper">


                                <div class="col-lg-12 agent-ticket-chart-wrapper">

                                    <canvas width="436px" height="100px" id="lineq" chart-colors="defColors" class="chart chart-line" chart-data="data"
                                            chart-labels="dataRange" chart-series="series" chart-options="options"
                                            >
                                    </canvas>

                                    <!--<canvas id="bar" chart-colors="defColors" class="chart chart-line" chart-data="data"
                                            chart-labels="dataRange" chart-series="series" chart-options="defoptions"
                                             >
                                    </canvas>-->
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- CALL STATUS -->
                    <div class="col-lg-12">
                        <div class="dark-call-status">
                            <div class="col-lg-12">
                                <h5 class="dark-header">CALL STATUS</h5>
                            </div>
                            <div class="col-lg-2" ng-repeat="queue in queueDetails">
                                <div class="dark-call-status-wrap">
                                    <div class="header text-center">
                                        {{queue.QueueName}}
                                    </div>
                                    <div class="dark-footer">
                                        <div class="col-lg-6">
                                            <div class="dark-footer-wrap">
                                                <h5 class="count"> {{queue.QueueInfo.CurrentWaiting}}</h5>
                                                <div class="title">
                                                    current waiting
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="dark-footer-wrap">
                                                <h5 class="count"> {{queue.QueueInfo.MaxWaitTime}}</h5>
                                                <div class="title">
                                                    max wait
                                                    time
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Recent activity -->
                    <div class="col-lg-12">
                        <div class="dark-recent-wrapper">
                            <div class="col-lg-6">
                                <h5 class="dark-header">RECENT ACTIVITY - TICKET</h5>
                                <div class="dark-recent-wrap">
                                    <div class="recent-activity" ng-repeat="ticket in recentTickets.tickets">
                                        <div class="col-lg-8">
                                            <div class="pull-left recent-activity-left">
                                                {{ticket.description}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="pull-right">
                                                <div class="dark-footer-wrap recent-activity-right">
                                                    <small ng-click="viewTicket(ticket);">{{ticket.reference}}</small>
                                                    <h5 class="count "> {{ticket.status}}</h5>
                                                    <div class="title">
                                                        <time-ago from-time='{{ ticket.updated_at }}' format='MM/dd/yyyy'></time-ago>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="dark-header">RECENT ACTIVITY - ENGAGEMENT</h5>
                                <div class="recent-activity" ng-repeat="eng in recentEngagements">
                                    <div class="col-lg-8" >
                                        <div class="pull-left recent-activity-left">
                                            {{eng.channel}}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pull-right">
                                            <div class="dark-footer-wrap recent-activity-right">
                                                <h5 class="count "> {{eng.direction}}</h5>
                                                <h5 class="count "> {{eng.channel_from}}</h5>
                                                <div class="title">
                                                    <time-ago from-time='{{ eng.updated_at }}' format='MM/dd/yyyy'></time-ago>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>