
<div class="agent-dashboard-wrapper" ng-controller="agentDashboardCtrl" ng-if="isViewDashBoard">
    <div class="container">
        <div class="col-md-offset-1 col-md-10 col-sm-10 col-xs-10 col-lg-10">
            <div class="dashboard-wrapper">
                <div id="dashboard-opacity"></div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-7">
                            <div class="dark-dashboard-header">
                                <div class="avatar">
                                    <img src="assets/img/avatar/oykun.jpg">
                                </div>
                                <div class="header">
                                    AGENT DASHBOARD
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="dark-pro-chart-wrap">
                                        <flot dataset="pieDataset" options="pieOptions" height="480px"></flot>
                                    </div>
                                    <div class="dark-product-wrapper">
                                        <div class="col-lg-4">
                                            <div class="dark-product-ticker-wrap">
                                                <h1 class="Staffed">04:13:31</h1>
                                                <div class="title Staffed">Staffed Time</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="dark-product-ticker-wrap">
                                                <h1 class="onCall">00:00:00</h1>
                                                <div class="title onCall">On Call Time</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="dark-status text-left">
                                                Available
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-5">

                                <div class="dark-ticker-wrapper">
                                    <div class="col-lg-12">
                                        <h5 class="dark-header">TICKET</h5>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="dark-ticker-wrap">
                                            <h1>10</h1>
                                            <div class="title">open</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="dark-ticker-wrap">
                                            <h1>5</h1>
                                            <div class="title">resolve</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dark-chart-wrapper">
                                    <div class="col-lg-12">
                                        <flot dataset="myData" options="myChartOptions" height="250px"></flot>
                                    </div>
                                </div>

                        </div>
                    </div>


                    <!-- CALL STATUS -->
                    <div class="col-lg-12">
                        <div class="dark-call-status">
                            <div class="col-lg-12">
                                <h5 class="dark-header">CALL STATUS</h5>
                            </div>
                            <div class="col-lg-2" ng-repeat="status in callStatus">
                                <div class="dark-call-status-wrap">
                                    <div class="header text-center">
                                        {{status.status_header}}
                                    </div>
                                    <div class="dark-footer">
                                        <div class="col-lg-6">
                                            <div class="dark-footer-wrap">
                                                <h5 class="count"> {{status.current_count}}</h5>
                                                <div class="title">
                                                    current waiting
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="dark-footer-wrap">
                                                <h5 class="count"> {{status.max_count}}</h5>
                                                <div class="title">
                                                    max wait
                                                    time
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Recent activity -->
                    <div class="col-lg-12">
                        <div class="dark-recent-wrapper">
                            <div class="col-lg-6">
                                <h5 class="dark-header">RECENT ACTIVITY - TICKET</h5>
                                <div class="dark-recent-wrap">
                                    <div class="recent-activity">
                                        <div class="col-lg-8">
                                            <div class="pull-left recent-activity-left">
                                                Lorem Ipsum is simply dummy text of the printing..
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="pull-right">
                                                <div class="dark-footer-wrap recent-activity-right">
                                                    <h5 class="count "> OPEN</h5>
                                                    <div class="title">
                                                        3 day ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="recent-activity">
                                        <div class="col-lg-8">
                                            <div class="pull-left recent-activity-left">
                                                Lorem Ipsum is simply dummy text of the printing..
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="pull-right">
                                                <div class="dark-footer-wrap recent-activity-right">
                                                    <h5 class="count "> CLOSE</h5>
                                                    <div class="title">
                                                        3 day ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="dark-header">RECENT ACTIVITY - ENGAGEMENT</h5>
                                <div class="recent-activity">
                                    <div class="col-lg-8">
                                        <div class="pull-left recent-activity-left">
                                            Lorem Ipsum is simply dummy text of the printing..
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pull-right">
                                            <div class="dark-footer-wrap recent-activity-right">
                                                <h5 class="count "> OPEN</h5>
                                                <div class="title">
                                                    3 day ago
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>