<div class="agent-dashboard-wrapper d-main-wrapper05201"
     ng-controller="agentDashboardCtrl">
    <!-- dashboard productivity wrapper -->
    <section class="d-widget-main-wrp">
        <header class="widget-main-header">
            <div class="d-header-wrp">
                <h3>
                    PRODUCTIVITY
                </h3>
            </div>

            <div class="d-header-wrp d-h-r-icon"
                 ng-click="isNavProductivity = !isNavProductivity">
                <i ng-if="!isNavProductivity" class="ti-arrow-circle-up"></i>
                <i ng-if="isNavProductivity" class="ti-arrow-circle-down"></i>
            </div>
        </header>

        <!-- call summary dsh productivity wrapper -->
        <div class="row" uib-collapse="isNavProductivity">
            <!-- ./ call summary -->
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <section class="d-widget-w d-call-summary">
                    <div class="d-call-s-wrap05201">
                        <div class="row">
                            <!-- on call time -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.OnCallTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        On Call Time
                                    </div>
                                    <div class="d-c-type inbound">
                                        inbound
                                    </div>
                                </div>
                            </div>

                            <!-- On Call Time - outbound-->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.OutboundCallTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        On Call Time
                                    </div>
                                    <div class="d-c-type outbound">
                                        outbound
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Staffed time -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.StaffedTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        Staffed Time
                                    </div>
                                </div>
                            </div>

                            <!-- break type -->
                            <div class="col-lg-6">
                                <div class="d-call-count-w">
                                    <div class="d-c-count animated slideInDown">
                                        {{productivity.BreakTime| date:'HH:mm:ss'}}
                                    </div>
                                    <div class="d-c-name">
                                        Break Time
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- call performance -->
                    <div class="d-call-performance05201">
                        <header class="w-inside-h">
                            summary
                        </header>

                        <div class="d-performance-wrapper">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="d-p-s-count d-w-boarder-left">
                                        <div class="d-p-s-value">
                                            {{agentPerformance.TotalRejectCount | number:0}}%
                                            <div class="d-performance-status up"
                                                 ng-class="isCheckPerfomance(agentPerformance.TotalRejectCount) ?'up':'down'">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                        </div>
                                        <div class="d-p-s-header">
                                            Reject
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="d-p-s-count d-w-boarder-left">
                                        <div class="d-p-s-value ">
                                            {{agentPerformance.OnCallTime | number:0}}%
                                            <div class="d-performance-status"
                                                 ng-class="isCheckPerfomance(agentPerformance.OnCallTime)?'up':'down'">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down "></i>
                                            </div>
                                        </div>
                                        <div class="d-p-s-header">
                                            On Call Time
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="d-p-s-count">
                                        <div class="d-p-s-value">
                                            {{agentPerformance.TotalAnswered | number:0}}%
                                            <div class="d-performance-status"
                                                 ng-class="isCheckPerfomance(agentPerformance.TotalAnswered) ?'up':'down'">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                        </div>
                                        <div class="d-p-s-header">
                                            answered
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- ./ productivity summary -->
            <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12">
                <section class="d-widget-w d-productivity-summary">
                    <div class="d-p-wrapper">
                        <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7">
                            <div class="row">
                                <div class="d-p-chart-wrp">
                                    <div class="widget-h text-center">
                                        PRODUCTIVITY - HOURS
                                    </div>

                                    <div class="p-grph">
                                        <canvas class="chart chart-doughnut"
                                                width="230" height="230"
                                                chart-data="doughnutObj.data"
                                                chart-labels="doughnutObj.labels"
                                                chart-legend="true"
                                                chart-options="options">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5">
                            <div class="row">
                                <div class="d-productivity-s-right">
                                    <div class="d-productivity-s-wrp">
                                        <div class="d-p-inline-summary gray-row">
                                            <div class="d-left-header d-inbound ">
                                                inbound calls
                                            </div>
                                            <div class="d-right-value d-inbound">
                                                {{productivity.IncomingCallCount}}
                                            </div>
                                        </div>
                                        <div class="d-p-inline-summary white-row">
                                            <div class="d-left-header d-missed ">
                                                Missed Calls
                                            </div>
                                            <div class="d-right-value d-missed">
                                                {{productivity.MissCallCount}}
                                            </div>
                                        </div>
                                        <div class="d-p-inline-summary gray-row">
                                            <div class="d-left-header ">
                                                Outbound Calls
                                            </div>
                                            <div class="d-right-value">
                                                {{productivity.OutgoingCallCount}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- ./ note summary -->
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
                <section class="d-widget-w d-note-summary">
                    <div class="d-note-widget05201">
                        <!-- create new note -->
                        <div
                                ng-include="'app/views/dashboard/note/create-new-note.html'"></div>

                        <div class="widget-header-wrapper">
                            <div class="widget-h text-left float-left"
                                 style="padding-top: 6px;">
                                my note
                            </div>

                            <div class="float-right">
                                <ul class="customer-style-ul inline">
                                    <li>
                                        <div class="h-button active"
                                             ng-click="createNewNote('open')">
                                            Create New
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget-scr-body-note"
                             slimscroll="{height: '228px',
                        railVisible: true,
                        color: '#777',
                        size: '8px',
                        distance: '15px',
                        railColor: '#fff',
            railBorderRadius: 10}">
                            <div class="d-note-row-wrapper" ng-repeat="note in noteLists track by $index ">
                                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                    <div class="d-note-date-wrp">
                                        <div class="note-date-wrp">

                                            <div class="d-note-priority note-p05201 animated slideInLeft">
                                                <div class="note-type {{note.priority}}">
                                                </div>
                                            </div>

                                            <div class="note-d-h-1 d-note-1" ng-if="note.dueDate==true">
                                                {{note.due_at | date:'EEE'}} {{note.due_at | date:'dd'}}
                                            </div>
                                            <div class="note-d-h-3 d-note-1" ng-if="note.dueDate==true">
                                                {{note.due_at | date:'hh:mm a'}}
                                            </div>


                                            <!-- create due_at date -->
                                            <div class="create_due-at-wrp" ng-if="note.dueDate==false">
                                                <div class="icon-round active">
                                                    <i class="fa fa-calendar" tooltip-placement="top"></i>
                                                </div>

                                                <!--<div class="cre-due-text">-->
                                                <!--Create due date-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
                                    <div class="d-note-des-wrp">
                                        <div class="d-note-subject"
                                             ng-class="note.check==true?'active-text':'none'">
                                            {{note.title}}
                                        </div>
                                        <div class="d-note-body"
                                             ng-class="note.check==true?'active-text':'none'">
                                            {{note.note}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- ./ end productivity -->


    <!-- activity and real time -->
    <section class="d-widget-main-wrp">
        <header class="widget-main-header">
            <div class="d-header-wrp">
                <h3>
                    ACTIVITY AND REAL LTIME
                </h3>
            </div>

            <div class="d-header-wrp d-h-r-icon" ng-click="isNavRealTime = !isNavRealTime">
                <i ng-if="!isNavRealTime" class="ti-arrow-circle-up"></i>
                <i ng-if="isNavRealTime" class="ti-arrow-circle-down"></i>
            </div>
        </header>


        <div class="row" uib-collapse="isNavRealTime">
            <!-- queue status wrapper -->
            <div class="col-lg-4 col-xs-12">
                <section class="d-widget-w d-note-summary">
                    <div class="d-note-widget05201">
                        <div class="widget-header-wrapper">
                            <div class="widget-h text-left float-left"
                                 style="padding-top: 7px;">
                                Queue STATUS
                            </div>

                            <div class="float-right">
                                <ul class="customer-style-ul inline">
                                    <li>
                                        <div class="h-button active"
                                             id="allQueue"
                                             ng-click="changeQueueView('all')">
                                            All Queue
                                        </div>

                                    </li>
                                    <li>
                                        <div class="h-button"
                                             id="myQueue"
                                             ng-click="changeQueueView('my')">
                                            My Queue
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-scr-body-call-s">
                        <div class="widget-r-header">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="w-t-header">
                                        Queue Name
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="w-t-header text-center">
                                        Current Waiting
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="w-t-header text-center">
                                        Max Wait Time
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div slimscroll="{height: '240px',
                        railVisible: true,
                        color: '#777',
                        size: '8px',
                        distance: '15px',
                        railColor: '#fff',
            railBorderRadius: 10}">
                            <div class="d-note-row-wrapper even-row" style="padding: 10px;"
                                 ng-repeat="(qkey, queue) in queueDetails">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="w-t-header">
                                            {{queue.QueueName | limitTo: 22}}{{queue.QueueName.length>22 ?'....':''}}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="w-t-header text-center">
                                            {{queue.QueueInfo.CurrentWaiting}}

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="w-t-header text-center">
                                            {{queue.QueueInfo.MaxWaitTime}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- agent activity wrapper -->
            <div class="col-lg-4">
                <section class="d-widget-w d-note-summary light-blue">
                    <div class="d-note-widget05201">
                        <div class="widget-header-wrapper">
                            <div class="widget-h text-left">
                                Activity
                            </div>
                        </div>
                    </div>

                    <div class="widget-scr-body-call-s">
                        <div class="user-p-tl-wrapper-052017">
                            <ul class="user-p-timeline-052017 disable-timeline-agent-activity left"
                                slimscroll="{height: '320px',
                        railVisible: true,
                        color: '#777',
                        size: '8px',
                        distance: '15px',
                        railColor: '#fff',
            railBorderRadius: 10}">
                                <li class="agent-activity agent-activity-t-line"
                                    ng-repeat="activity in agentActivitysObj">
                                    <div class="r-timeline-052017-badge left r-timeline-052017-badge-activity">
                                    </div>
                                    <section class="user-p-r-timeline-panel-052017
                                     agent-panel">
                                        <div class="left-t-l-wrapper-052017 height0">
                                            <div class="small-t-l-header-052017">
                                                <ul>
                                                    <li class="date-052017">
                                                        {{activity.Reason}}
                                                    </li>

                                                    <li class="right-act-date">
                                                        {{activity.createdAt | date:'h:mm:ss a'}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--<div class="small-t-l-body-052017">-->
                                            <!--{{activity.Reason}}-->
                                            <!--</div>-->
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>
            </div>

            <!-- agent activity wrapper -->
            <div class="col-lg-4">
                <section class="d-widget-w d-note-summary gradient-green d-widget-w-340 ">
                    <div class="d-note-widget05201">
                        <div class="widget-header-wrapper">
                            <div class="widget-h text-left white-txt float-left" style="padding-top: 6px;">
                                NOTICE ({{NoticeListTemp.length}})
                            </div>

                        </div>

                        <div class="widget-scr-body-note">

                            <ul rn-carousel
                                rn-carousel-buffered
                                rn-carousel-controls-allow-loop="false"
                                rn-carousel-auto-slide="5"
                                class="notice-b-m-outer my-slider">
                                <li ng-repeat="notice in NoticeListTemp track by $index">
                                    <!-- attachment wrapper -->
                                    <div ng-show="notice.attachments.length!=0">
                                        <!-- is image -->
                                        <div ng-show="notice.type=='image'"
                                             ng-include="'app/views/dashboard/notice/image-view.html'"></div>
                                        <div ng-show="notice.type=='application'"
                                             ng-include="'app/views/dashboard/notice/application-view.html'"></div>
                                    </div>

                                    <!-- text file show -->
                                    <div ng-show="notice.attachments.length==0">
                                        <!-- is image -->
                                        <div ng-include="'app/views/dashboard/notice/text-view.html'"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </section>
            </div>
        </div>

    </section>
    <a href="" id="image-viewer" data-lightbox="image-1" data-title=""></a>


    <!-- dashboard ticket wrapper -->
    <section class="d-widget-main-wrp">
        <header class="widget-main-header">
            <div class="d-header-wrp">
                <h3>
                    TICKET SUMMARY
                </h3>
            </div>

            <div class="d-header-wrp d-h-r-icon"
                 ng-click="isNavTicketSummary = !isNavTicketSummary">
                <i ng-if="!isNavTicketSummary" class="ti-arrow-circle-up"></i>
                <i ng-if="isNavTicketSummary" class="ti-arrow-circle-down"></i>
            </div>
        </header>

        <div class="row" uib-collapse="isNavTicketSummary">
            <div class="col-lg-12">

                <section class="d-widget-w" style="overflow: hidden">

                    <div class="col-lg-7">
                        <div class="d-ticket-grph-wrapper">
                            <div class="widget-h p-15 text-left">
                                CREATED VS CLOSED
                            </div>

                            <div class="d-t-grph" id="grphCreateVsOpen">
                                <canvas style="position: relative;" id="openclosecanvas" width="716px"
                                        height="200px"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">

                        <div class="d-ticket-summary-row">
                            <ul class="customer-style-ul">
                                <li class="float-left d-ticket-summary create">CREATED TICKETS</li>
                                <li class="float-right text-right d-ticket-summary create">{{newTicketCount}}</li>
                            </ul>
                        </div>

                        <div class="d-ticket-summary-row">
                            <ul class="customer-style-ul">
                                <li class="float-left d-ticket-summary close-t">CLOSED TICKETS</li>
                                <li class="float-right text-right d-ticket-summary close-t">{{closeTicketCount}}</li>
                            </ul>
                        </div>

                        <div class="d-ticket-summary-row">
                            <ul class="customer-style-ul">
                                <li class="float-left d-ticket-summary in-progress-t">IN PROGRESS TICKETS</li>
                                <li class="float-right text-right d-ticket-summary in-progress-t">
                                    {{ProgressTicketCount}}
                                </li>
                            </ul>
                        </div>

                        <div class="d-ticet-deference-wrp">
                            <canvas id="deferencecanvas" width="436px" height="100px"></canvas>
                        </div>

                    </div>

                </section>


                <!--<div class="col-lg-7">-->
                <!--<section class="d-widget-w">-->
                <!--<div class="d-ticket-grph-wrapper">-->
                <!--<div class="widget-h p-15 text-left">-->
                <!--CREATED VS CLOSED-->
                <!--</div>-->

                <!--<div class="d-t-grph" id="grphCreateVsOpen">-->
                <!--<canvas style="position: relative;" id="openclosecanvas" width="716px"-->
                <!--height="200px"></canvas>-->
                <!--</div>-->
                <!--</div>-->
                <!--</section>-->
                <!--</div>-->

                <!--<div class="col-lg-5">-->
                <!--<section class="d-widget-w d-widget-w-308 " id="ticketSummary">-->
                <!--<div class="d-ticket-summary-row">-->
                <!--<ul class="customer-style-ul">-->
                <!--<li class="float-left d-ticket-summary create">CREATED TICKETS</li>-->
                <!--<li class="float-right text-right d-ticket-summary create">{{newTicketCount}}</li>-->
                <!--</ul>-->
                <!--</div>-->

                <!--<div class="d-ticket-summary-row">-->
                <!--<ul class="customer-style-ul">-->
                <!--<li class="float-left d-ticket-summary close-t">CLOSED TICKETS</li>-->
                <!--<li class="float-right text-right d-ticket-summary close-t">{{closeTicketCount}}</li>-->
                <!--</ul>-->
                <!--</div>-->

                <!--<div class="d-ticket-summary-row">-->
                <!--<ul class="customer-style-ul">-->
                <!--<li class="float-left d-ticket-summary in-progress-t">IN PROGRESS TICKETS</li>-->
                <!--<li class="float-right text-right d-ticket-summary in-progress-t">-->
                <!--{{ProgressTicketCount}}-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->

                <!--<div class="d-ticet-deference-wrp">-->
                <!--<canvas id="deferencecanvas" width="436px" height="100px"></canvas>-->
                <!--</div>-->

                <!--</section>-->
                <!--</div>-->
            </div>
        </div>
    </section>


</div>
<!-- ./ end -->