<div ng-controller="ticketInboxConsoleCtrl"
     class="main-inbox-wrapper05201">

    <!-- ./inbox left toggele menu -->
    <div class="col-sm-5 col-md-4 col-xs-12 col-lg-3 ">
        <div class="row">
            <div id="inboxToggleLeft"
                 slimscroll="{height: '{{mainScrollerHeight}}',
                    width:'100%',
                    railVisible: true,
                    color: '#777',
                    size: '8px',
                    distance: '5px',
                    railColor: '#fff',
                    railBorderRadius: 10}"
                 class="inbox-left-toggle-wrapper">

                <!-- ./ticket inbox menu -->
                <section class="i-left-inbox-wrapper">
                    <div class="i-inbox-header-wrp">
                        <div class="count-inline-row">
                            <ul class="customer-style-ul">
                                <li class="float-left">
                                    <h5 class="header text-uppercase">
                                        <i ng-click="isCollapsedInbox = !isCollapsedInbox"
                                           ng-class="!isCollapsedInbox?'ti-angle-up':'ti-angle-down'"></i>
                                        ticket inbox
                                    </h5>
                                </li>
                                <!--<li class="count-right">-->
                                <!--<div class="inline-t-count gray800 ">-->
                                <!--{{jsonInboxObj.length}}-->
                                <!--</div>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                    <!-- ./ ticket inbox wrapper -->
                    <section
                            class="i-left-t-filter-wrapper"
                            uib-collapse="isCollapsedInbox">
                        <!-- ./ ng include ticket inbox menu -->
                        <div ng-include="'app/views/ticket/inbox/template/inbox-menu.html'"></div>
                    </section>
                    <!-- ./ end -->
                </section>

                <!-- ./my ticket menu -->
                <div class="i-left-top-wrapper">
                    <div class="count-inline-row">
                        <ul class="customer-style-ul">
                            <li class="float-left">
                                <h5 class="header text-uppercase">
                                    <i ng-click="isCollapsedMyTicket = !isCollapsedMyTicket"
                                       ng-class="!isCollapsedMyTicket?'ti-angle-up':'ti-angle-down'"></i>
                                    my ticket
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <section class="i-left-t-filter-wrapper"
                         uib-collapse="isCollapsedMyTicket">
                    <div class="ticket-filter-body">
                        <div ng-include="'app/views/ticket/inbox/template/inbox-my-menu.html'"></div>
                    </div>
                </section>
                <!-- ./ end -->

                <!-- ./group ticket menu -->
                <div class="i-left-top-wrapper">
                    <div class="count-inline-row">
                        <ul class="customer-style-ul">
                            <li class="float-left">
                                <h5 class="header text-uppercase">
                                    <i ng-click="isCollapsedGroupTicketr = !isCollapsedGroupTicketr"
                                       ng-class="!isCollapsedGroupTicketr?'ti-angle-up':'ti-angle-down'"></i>
                                    Group ticket
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <section class="i-left-t-filter-wrapper"
                         uib-collapse="isCollapsedGroupTicketr">
                    <div class="ticket-filter-body ">
                        <div ng-include="'app/views/ticket/inbox/template/inbox-group-menu.html'"></div>
                    </div>
                </section>
                <!-- ./ end -->

                <!-- ./ ticket filter menu-->
                <div class="i-left-top-wrapper">
                    <div class="count-inline-row">
                        <ul class="customer-style-ul">
                            <li class="float-left">
                                <h5 class="header text-uppercase">
                                    <i ng-click="isCollapsedFilter = !isCollapsedFilter"
                                       ng-class="!isCollapsedFilter?'ti-angle-up':'ti-angle-down'"></i>
                                    ticket filter
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <section class="i-left-t-filter-wrapper"
                         uib-collapse="isCollapsedFilter">
                    <div ng-include="'app/views/ticket/inbox/template/inbox-filter-menu.html'"></div>
                </section>
                <!-- ./ end -->

            </div>
        </div>
        <!-- ./ end row -->
    </div>

    <!-- ./ inbox right wrapper -->
    <div class="col-sm-7 col-md-8 col-xs-12 col-lg-9">
        <div class="row">
            <!-- ./inbox right wrapper -->
            <div id="inboxRightWrapper" class="inbox-right-wrapper05201">
                <!-- ./ top wrapper -->
                <div class="i-right-top-wrapper">
                    <div class="col-lg-4 col-sm-4 col-md-6 col-xs-6">
                        <div class="row">
                            <div class="inbox-h-top-left-wrapper">
                                <div class="inbox-header-left05201">
                                    <div class="inbox-title">
                                        <h4> {{currentSelected.name }} Ticket
                                            <!--<small>{{currentSelected.totalCount }} Total</small>-->
                                        </h4>
                                    </div>
                                </div>
                                <!-- ./inbox short option -->
                                <!--<div class="inbox-sort-option">-->
                                <!--<ul class="customer-style-ul sort-option">-->
                                <!--<li class="title">-->
                                <!--<small>Sort by :</small>-->
                                <!--</li>-->
                                <!--<li class="short-drop-down">-->
                                <!--<select class="form-control sort-option-select">-->
                                <!--<option value="0"-->
                                <!--disabled>sort option-->
                                <!--</option>-->
                                <!--<option>Created date</option>-->
                                <!--</select>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <!-- ./ top right navigation -->
                    <div class="col-lg-8 col-sm-8 col-md-6 col-xs-6">
                        <div class="row">
                            <div class="i-top-navigation">
                                <ul class="customer-style-ul i-top-navigation">
                                    <li>
                                        <div class="pager-count">

                                            {{currentPage}} - {{pageSize}} / {{currentSelected.totalCount}}
                                        </div>
                                    </li>
                                    <li class="i-pagination">

                                        <ul uib-pager
                                            class="ticket-pager"
                                            total-items="currentSelected.totalCount"
                                            ng-change="goToPagination()"
                                            ng-model="currentPage"></ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./ end top -->
                <!-- ./ filer bar -->
                <section class="i-filter-bar-wrapper">
                    <div class="i-f-b-wrapper">
                        <ul class="customer-style-ul t-f-wrp">
                            <!--<li class="check-box-item">-->
                            <!--<div class="checkbox margin-0">-->
                            <!--<label>-->
                            <!--<input type="checkbox"-->
                            <!--ng-model="selectedAll"-->
                            <!--class="top-check-all"> Check All-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--</li>-->
                            <li>
                                <div class="t-f-btn-wrp ">
                                    Close
                                </div>
                            </li>
                            <li>
                                <div class="t-f-btn-wrp">
                                    Assigne me
                                </div>
                            </li>
                            <li>
                                <div class="t-f-btn-wrp">
                                    Done
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- ./ticket details-wrapper -->
                <section id="ticketListView"
                         class="t-i-list-wrapper"
                         slimscroll="{height: '{{ticketListHeight}}',
                    width:'100%',
                    railVisible: true,
                    color: '#777',
                    size: '8px',
                    distance: '5px',
                    railColor: '#fff',
                    railBorderRadius: 10}">
                    <div ng-include="'app/views/ticket/inbox/template/inbox-list-view.html'"></div>

                </section>
                <div ng-include="'app/views/ticket/inbox/template/main-loader.html'"></div>
            </div>
            <!-- ./ end -->


        </div>
        <!-- ./ end row -->
    </div>
</div>


<script type="text/javascript">


</script>


<!--slimscroll="{height: '{{windowHeight}}',-->
<!--railVisible: true,-->
<!--color: '#777',-->
<!--size: '8px',-->
<!--distance: '5px',-->
<!--railColor: '#fff',-->
<!--railBorderRadius: 10}"-->