@font-face {
    font-family: AvenirNextLTPro-Bold;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: AvenirNextLTPro-Regular;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: AvenirNextLTPro-Cn;
    src: url(avenir-next-lt-pro/AvenirNextLTPro-Cn.otf);
}

