<li>
    <div class="timeline-badge facebook"><i class="fa fa-facebook"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">

            <ul class="info-list">
                <li>
                    <small>From</small>
                    <h5 class="font-color-yellow">18705056580</h5>
                </li>
                <li>
                    <small>To</small>
                    <h5 class="font-color-yellow">94112375000</h5>
                </li>
            </ul>
        </div>
        <div class="timeline-body bottom-line ">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the
                industry's standard dummy text ever since the 1500.</p>
        </div>
        <div class="timeline-body">
            <p><i class="fa fa-check-circle-o"></i> Lorem Ipsum is simply dummy text of the printing and
                typesetting
                industry.
            </p>
            <p><i class="fa fa-check-circle-o"></i> Lorem Ipsum is simply dummy text of the printing and
                typesetting
                industry.
            </p>
        </div>

        <div class="timeline-heading">
            <p>
                <small class="text-muted font-color-green"><i class="fa fa-clock-o"></i> 11 hours ago via
                    Twitter
                </small>
            </p>
        </div>
    </div>
</li>