<section id="AgentDialerUi"
         class="dialer-052017 main-wrapper display-none"
         ng-controller="agentDialerControl">

    <div class="header-052017 inline-h modal-header-052017 small batchSelectScreen">
        <ul>
            <li class="pull-left blue-header ">
                AUTO NUMBER DIALER
            </li>
            <li class="pull-right" id="btn-close">
                <div ng-click="closeDialer(); "
                     class="header-r-icon-052017 with-text">
                    <i class="ti-close"></i>
                </div>
            </li>
        </ul>
    </div>

    <!-- select batch number here -->
    <div id="batchSelectScreen" class="dialer-052017 select-batch-wrp batchSelectScreen ">
        <div class="batch-num-wrp">
            <div class="form-group">
                <label class="label-052017" style="padding-left: 89px;">
                    Select batch name</label>
                <select
                        class="form-control txt-input-052017 center-lg-select"
                        ng-model="BatchName"
                        ng-change="getAllContactScreen();"
                        ng-options="opt as opt for opt in BatchNames track by opt" required>
                    <option disabled value=''>Choose here</option>
                </select>
            </div>
        </div>

        <div class="batch-select-btn-wrp" ng-if="BatchName">
            <button type="button"
                    ng-if="!isLoading"
                    ng-click="goToDialer();"
                    ng-disabled="!BatchName"
                    class="btn btn-batch-selected btn-save-052017">
                GO TO DIALER
            </button>
            <button type="button"
                    ng-if="isLoading"
                    disabled
                    class="btn btn-batch-selected btn-save-052017">
                Pleae wait...
            </button>
        </div>
    </div>


    <!-- found contact  number :) -->
    <div id="mainDialerScreen" class="animated display-none">

        <div class="header-052017 inline-h modal-header-052017 small">
            <ul>
                <li class="pull-left blue-header border-right">
                    AUTO NUMBER DIALER
                </li>
                <li>
                    <div class="dialer-052017 batch-num">
                        <div class="form-group">
                            <select style="width: 223px;"
                                    class="form-control txt-input-052017" id="Extensions"
                                    ng-model="BatchName"
                                    ng-change="getALlPhoneContact();"
                                    ng-options="opt as opt for opt in BatchNames track by opt" required>
                                <option disabled value=''>Choose batch name here</option>
                            </select>
                        </div>
                    </div>
                </li>
                <!--<li class="pull-right" id="btn-close">-->
                <!--<div ng-click="reminderMe.close()"-->
                <!--class="header-r-icon-052017 with-text">-->
                <!--<i class="ti-close"></i>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>

        <!-- body -->
        <div class="dialer-052017-body ">
            <div id="dialerDetails" class="dialer-052017 dialer-details
             dialerDetailsId display-none">
                <ul class="customer-style-ul inline-list">

                    <li id="btn-update" class="btnUpdateId display-none">
                        <div class="dialer-052017 save-list cursor-pointer "
                             ng-click="updateContact(currentItem);">
                            <i class="fa fa-save"></i>
                        </div>
                    </li>

                    <!--<li id="btn-resume"-->
                    <!--class="display-none btnResumeId">-->
                    <!--<div class="dialer-052017 save-list cursor-pointer">-->
                    <!--<i class="fa fa-step-forward"></i>-->
                    <!--</div>-->
                    <!--</li>-->

                    <li id="btn-pause" class="display-none">
                        <div ng-click="pauseDialer();" class="dialer-052017 save-list cursor-pointer">
                            <i class="fa fa-pause"></i>
                        </div>
                    </li>
                    <li id="btn-resume" class="display-none">
                        <div ng-click="resumeDialer();" class="dialer-052017 save-list cursor-pointer">
                            <i class="fa fa-step-forward"></i>
                        </div>
                    </li>
                    <li>
                        <div class="dialer-052017 current-item">
                            {{currentItem.ContactNumber}}
                        </div>
                    </li>

                    <li>
                        <div class="dialer-052017 current-item" style="padding-left: 10px">
                            {{currentItem.AttemptCount}}
                        </div>
                    </li>
                    <li>
                        <div class="dialer-052017 current-item" style="padding-left: 10px">
                            <input type="text" class="form-control" style="width: 80px;"
                                   ng-model="currentItem.OtherData">
                        </div>
                    </li>
                    <li>
                        <div class="dialer-052017 current-item" style="padding-left: 10px">
                            <select class="form-control "
                                    ng-model="currentItem.DialerState">
                                <option ng-repeat="s in Disposition">{{s}}</option>
                            </select>
                        </div>
                    </li>

                    <li>
                        <div class="dialer-052017 current-item" style="padding-left: 10px">
                            <input type="checkbox" id="blankCheckbox" value="option1"
                                   aria-label="..." ng-model="currentItem.Redial">
                        </div>
                    </li>

                </ul>
            </div>

            <div id="tblDialerWrp"
                 slimscroll="{height: '190px',
                                    railVisible: true,
                                    color: '#8A8E86',
                                    size: '8px',
                                    distance: '5px',
                                    railColor: '#8A8E86',
                                    railBorderRadius: 10}"
                 class="dialer-052017-tbl-wrp tbDialerWrpId">
                <table class="table">
                    <thead>
                    <tr class="t-dialer-h">
                        <th>NUMBER</th>
                        <th>DATA</th>
                        <th>Disposition</th>
                        <th>Attempt</th>
                    </tr>
                    </thead>
                    <tbody ui:sortable ng:model="contactList">
                    <tr ng:repeat="item in contactList"
                        class="t-dialer-b">
                        <th scope="row">{{item.ContactNumber}}</th>
                        <td>{{item.OtherData}}</td>
                        <td>{{item.DialerState}}</td>
                        <td>@{{item.AttemptCount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="dialer-052017-footer">
            <ul class="customer-style-ul dialer-icon-wrp">

                <li>
                    <div id="btn-start"
                         ng-click="startDialer();"
                         class="dialer-btn  play-wrp">
                        <img src="assets/img/play.png"
                             width="50">
                    </div>
                    <div id="btn-stop"
                         class="dialer-btn  play-wrp display-none"
                         ng-click="stopDialer();">
                        <img src="assets/img/stop.png"
                             width="50">
                    </div>
                </li>

                <!--<li>-->
                <!--<div id="btn-resume"-->
                <!--class="dialer-btn play-wrp display-none">-->
                <!--<img src="assets/img/stop.png"-->
                <!--width="50">-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>

</section>