<div class="timelline-wrapper prn2-time-line-wrap">
    <ul class="timeline " ><!--scrolly="showMore()"-->
        <li ng-repeat="eng in engagementsList"
            ng-class="{'timeline-inverted':eng.direction=='outbound' }">
            <div class="timeline-badge"
                 ng-class="{'api-channel':eng.channel=='api',
                  'twitter-channel':eng.channel=='twitter',
                  'call-channel':eng.channel=='call',
                  'sms-channel':eng.channel=='sms',
                  'email-channel':eng.channel=='email'}">
                <i class=""
                   ng-class="{'fa fa-random':eng.channel=='api',
                  'fa fa-twitter':eng.channel=='twitter',
                  'main-icon-2-telephone-3':eng.channel=='call',
                  'fa fa-bell-o':eng.channel=='sms',
                  'fa fa-envelope-o':eng.channel=='email'}"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading ">

                    <ul class="info-list">
                        <li>
                            <small>From</small>
                            <h5 class="font-color-yellow">{{eng.channel_from}}</h5>
                        </li>
                        <li>
                            <small>To</small>
                            <h5 class="font-color-yellow">{{eng.channel_to}}</h5>
                        </li>
                    </ul>
                </div>
                <div class="timeline-body bottom-line ">
                    <p>direction : {{eng.direction}}</p>
                </div>
                <div class="timeline-body">
                    <p ng-repeat="note in eng.notes">
                        <i class="fa fa-check-circle-o"></i>
                        {{note.body}} -> {{note.author}}
                    </p>
                </div>

                <div class="timeline-heading">
                    <p>
                        <small class="text-muted font-color-green"><i class="fa fa-clock-o"></i>
                            <time-ago from-time='{{eng.created_at}}' format='MM/dd/yyyy'></time-ago>
                            via
                            {{eng.channel}}
                        </small>
                    </p>
                </div>
            </div>
        </li>
        <div class="btn-warp inline-btn  p-top-6 pull-right">
                              <span class="btn  btn-default btn-sm "
                                    ng-click="showMore();"
                                    >Load more</span>
        </div>

        <!-- <li>
             <div class="timeline-badge twitter"><i class="fa fa-twitter"></i></div>
             <div class="timeline-panel">
                 <div class="timeline-heading">
                     <p class="inline-btn">
                         <small class="text-muted ">
                             From : 18705056580
                         </small>
                     </p>
                     <p class="inline-btn">
                         <small class="text-muted ">
                             To : 94112375000
                         </small>
                     </p>
                     <p class="inline-btn">
                         <small class="text-muted  ">
                             <i class="fa fa-clock-o "></i>
                         </small>
                     </p>
                 </div>
                 <div class="timeline-body bottom-line">
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                         the
                         industry's standard dummy text ever since the 1500.</p>
                 </div>
                 <div class="timeline-body">
                     <p>NOTE : Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     </p>
                 </div>

                 <div class="timeline-heading">
                     <p>
                         <small class="text-muted font-color-green"><i class="fa fa-clock-o"></i> 11 hours ago via
                             Twitter
                         </small>
                     </p>
                 </div>
             </div>
         </li>

         <li>
             <div class="timeline-badge twitter"><i class="fa fa-twitter"></i></div>
             <div class="timeline-panel">
                 <div class="timeline-heading">
                     <p class="inline-btn">
                         <small class="text-muted ">
                             From : 18705056580
                         </small>
                     </p>
                     <p class="inline-btn">
                         <small class="text-muted ">
                             To : 94112375000
                         </small>
                     </p>
                     <p class="inline-btn">
                         <small class="text-muted  ">
                             <i class="fa fa-clock-o "></i>
                         </small>
                     </p>
                 </div>
                 <div class="timeline-body bottom-line">
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                         the
                         industry's standard dummy text ever since the 1500.</p>
                 </div>
                 <div class="timeline-body">
                     <p>NOTE : Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     </p>
                 </div>

                 <div class="timeline-heading">
                     <p>
                         <small class="text-muted font-color-green"><i class="fa fa-clock-o"></i> 11 hours ago via
                             Twitter
                         </small>
                     </p>
                 </div>
             </div>
         </li>

         <li class="timeline-inverted">
             <div class="timeline-badge success"><i class="fa fa-mail-reply"></i></div>
             <div class="timeline-panel">
                 <div class="timeline-heading">
                     <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                 </div>
                 <div class="timeline-body">
                     <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                         porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                         vermeio, in
                         elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in
                         monti
                         palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de
                         bolis,
                         mais bolis eu num gostis.</p>
                 </div>
             </div>
         </li>-->
    </ul>
</div>
