<div class="login-wrapper" ng-controller="pwdResetToken">

    <!-- forget password email -->
    <div ng-class="forgetPassword" class="login-wrap  ">
        <div class="login-header" style="margin-top: 110px;">
            <!--<img src="assets/img/logo.png">-->
            <div class="forget-header">
                Having trouble signing in?
            </div>
        </div>


        <div class="animated pulse  login-body" style="padding-top: 25px;">

            <!--<div class="forget-pwd-txt">-->
            <!--Enter any recovery email associated with your account..-->
            <!--</div>-->
            <form name="recoverTokenForm" novalidate autocomplete="off">
                <div class="form-group p-bottom-15">

                    <label for="token">TOKEN</label>
                    <span class="inline-block validation-on pull-right"
                          ng-show="recoverTokenForm.token.$invalid &&
                           !recoverTokenForm.token.$pristine">
                           required filed
                     </span>

                    <input type="text"
                           class="animated  form-control login-text"
                           id="token"
                           ng-model="token"
                           name="token"
                           required>
                </div>

                <div class="form-group p-bottom-15">
                    <label for="password">PASSWORD</label>
                    <span class="inline-block validation-on pull-right"
                          ng-show="recoverTokenForm.password.$invalid &&
                           !recoverTokenForm.password.$pristine">
                           required filed
                     </span>
                    <input type="text"
                           class="animated  form-control login-text"
                           id="password"
                           ng-model="password"
                           name="password"
                           required>
                </div>

                <div class="form-group p-bottom-15">
                    <label for="confirmPwd">CONFIRM PASSWORD</label>
                    <span class="inline-block validation-on pull-right"
                          ng-show="recoverTokenForm.confirmPwd.$invalid &&
                           !recoverTokenForm.confirmPwd.$pristine">
                           required filed
                     </span>
                    <input type="text"
                           class="animated  form-control login-text"
                           id="confirmPwd"
                           ng-model="confirmPwd"
                           name="confirmPwd"
                           required>
                </div>
            </form>


            <div ng-click="ResetPassword()"
                    class="login-btn">
                RESET
            </div>

            <div ng-if="isRecoverEmail" class="loading-btn">
                please wait..
            </div>

        </div>

    </div>
</div>