
.console-nav-bar {
    /*background: #0d1c34;*/
    background: #223448;
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 1000;
}

.console-navbar-brand {
    color: #8298ae !important;
}

.bg-transparent {
    background: transparent !important;
}

.border-radius-20 {
    border-radius: 20px;
}

.dropdown-menu .divider {
    background-color: #dfdfdf;
}

.console-drop-menu > li > a.drop-header {
    color: #8298ae !important;
}

.console-drop-menu > li > a {
    color: #8298ae;
}

.dropdown-menu > li > a {
    font-family: "AvenirNextLTPro-Regular", Courier, monospace;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #c3c0bb;
    color: #908E8D !important;
}

.drop-desc-small {
    font-family: "AvenirNextLTPro-Regular", Courier, monospace;
    color: #bdbdbd;
    padding-left: 20px;
}

.dropdown-menu.console-drop-menu > li > a:focus,
.dropdown-menu.console-drop-menu > li > a:hover {
    background-color: #f3f3f3 !important;
    color: #908E8D !important;
    border-radius: 5px;
}

.dropdown-menu.console-drop-menu {
    padding-bottom: 15px;
    padding-top: 10px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #908E8D;
    text-decoration: none;
    background-color: #FEFBF6;
    outline: 0;
}

.menuitem-with-icon > a > i {
    color: #14d0a0;
}

/* notification */
.notification-icon {
    background: #17373c;
}

.notification-icon.user-list {
    background: transparent;
}

.notification-list:hover {
    background: #f7f5f5;
}

/*.notification-icon.inbox {*/
/*background: #c7d1da;*/
/*}*/

.notification-time {
    color: #d2c242;
}

.notification-icon > i {
    color: #36BA45;
}

.online {
    background: #4cd460;
}

.offline {
    background: #d2c242;
}

.online-text {
    text-transform: uppercase;
    color: #36ba45;
}

.offline-text {
    text-transform: uppercase;
    color: #d2c242;
}

.ticket-details.todo {
    border-top: 4px solid #d2c242;
}

.ticket-details.in-progress {
    border-top: 4px solid #8298ae;
}

.ticket-details.done {
    border-top: 4px solid #14d0a0;
}

.color-orange {
    color: #ff8c00 !important;
}

.color-red {
    color: #ff0c06 !important;
}

.bg-orange {
    background: #ff8c00;
}

.facebook {
    background: #3b5998 !important;
}

.twitter {
    background: #00aced !important;
}

.notification {
    background: #14d0a0 !important;
}

.timeline .timeline-icon a.test2 {
    background: #45bf55;
}

.font-color-green {
    color: #45bf55 !important;
}

.font-color-yellow {
    color: #d2c242 !important;
}

.font-color-blue900 {
    color: #0d1c33 !important;
}

.font-color-gray500 {
    color: #8298ae !important;
}

.label-green {
    color: #45bf55 !important;
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
}

.new-ticker {
    border-top: 3px solid #d2c242;
}

.done-ticker {
    border-top: 3px solid #14d0a0;
}

.ticket-channel.call {
    background: #fff;
    -webkit-box-shadow: -1px 0px 23px -7px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: -1px 0px 23px -7px rgba(0, 0, 0, 0.66);
    box-shadow: -1px 0px 23px -7px rgba(0, 0, 0, 0.66);
}

.font-CyanA200 {
    color: #14d0a0;
}

.btn-green100 {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    background: #45bf55;
    border-radius: 0px;
    border-color: #45bf55;
    color: #ffffff;
}

.btn-green-op {
    background: rgba(54, 186, 69, 0.10);
    color: #36ba45;
    outline: hidden !important;
}

.btn-red-0p {
    background: rgba(217, 0, 0, 0.10);
    color: #d90000;
    outline: hidden !important;
}

.btn-green500 {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    background: #168039;
    border-radius: 0px;
    border-color: #168039;
    color: #ffffff;
}

.btn-green700 {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    background: #044d29;
    border-radius: 0px;
    border-color: #044d29;
    color: #ffffff;
}

.btn-red600 {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    background: #d90000;
    border-radius: 0px;
    border-color: #d90000;
    color: #ffffff;
}

.text-color-red {
    color: #d90000;
}

.font-white {
    color: #ffffff !important;
}

.bg-green500 {
    background: #168039 !important;
}

.btn-green700 {
    background: #044d29 !important;;
}

.bg-color-Teal900 {
    background: #17373c !important;
}

.bg-color-Teal600 {
    background: #2b4d52 !important;
}

.bg-color-Teal700 {
    background: #2b4d52 !important;
}

.bg-color-UserTags {
    background: #45bf55 !important;
}

.bg-color-Teal800 {
    background: #1a3d42 !important;
}

.prn2 > .progress > .progress-bar-warning {
    background: #45bf55;
}

.prn2 > .progress > .progress-bar-success {
    background: #168039;
}

.prn2 > .progress > .progress-bar-danger {
    background: #4f9300;
}

/*validation */
.validation-on {
    color: #d90000;
}

.color-fb {
    color: #3b5998 !important;;
}

.color-twitter {
    color: #55acee !important;;
}

.color-linkedin {
    color: #0077B5 !important;;
}

.color-skype {
    color: #00aff0 !important;;
}

.color-google {
    color: #d34836 !important;;
}

/* check box and radio button */
.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before,
.checkbox::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 0px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after,
.checkbox::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="checkbox"]:focus::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;

    outline: 0 !important;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="checkbox"]:checked::after {
    font-family: 'themify';
    content: "\e64c";
    font-size: 13px;
    outline: 0 !important;
    /* Path 4: */
    color: #8FD539;
}

.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled::before,
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle::before,
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked::before,
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="checkbox"]:checked::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked::before,
.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-default input[type="checkbox"]:checked::before,
.checkbox-default input[type="checkbox"]:checked + label::before {
    background-color: transparent;
    border-color: rgba(150, 150, 150, 0.26);
}

.checkbox-danger input[type="checkbox"]:checked::after,
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked::before,
.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked::after,
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked::before,
.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked::after,
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked::before,
.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked::after,
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd !important;
}



