@import url("../fonts/font.css");
@import url("overwrite-bootstrap.css");
@import url("../fonts/main-icon-1/veery-font-1.css");
@import url("../fonts/main-icon-2/veery-font-2.css");
@import url("../fonts/main-icon-3/veery-font-3.css");
@import url("../fonts/veery-font/veery-phone-icon-1.css");

body {
    background: #f7f5f5;
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    overflow-x: hidden;
}

/* #CONSOLE CSS */

.version-beta {
    position: absolute;
    top: 15px;
    left: 151px;
    font-size: 10px;
    color: #ffffff !important;
}

.console-profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.console-profile-img > img {
    width: 45px;
    height: 45px;
}

.console-profile-header {
    text-align: right;
    padding-top: 4px;
}

.console-profile-header > .login-name {
    color: #ffffff !important;

}

.console-profile-header > .time {
    color: #14d0a0 !important;
    font-size: 12px;
}

.user-state {
    position: absolute;
    top: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: 2px;
}

.console-main-search {
    margin-left: 45px;
}

.main-search-txt {
    border: 1px solid #8298ae;
    min-width: 300px;
}

.console-drop-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    margin: auto 0px;
    text-align: center;
    left: 143px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 22px solid white;
}

.console-drop-menu.add-new-page::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    margin: auto 0px;
    text-align: center;
    left: 20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 22px solid white;
}

.console-drop-menu > li > a.drop-header {
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
    font-size: 15px;
    padding-top: 12px;
    display: inline-block;
}

.console-drop-menu > li > a {
    font-size: 15px;
}

.main-search-txt:focus {
    border-color: #36ba45;
}

.menuitem {
    padding-left: 10px;
    padding-right: 10px;
}

.menuitem-with-icon {
    padding-left: 9px;
    padding-right: 43px;
}

.menuitem-with-icon > a > i {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0;
    padding-right: 20px;
    color: #14d0a0;
}

.dropdown-menu > li > a.drop-header:focus,
.dropdown-menu > li > a.drop-header:hover {
    background-color: transparent !important;
}

.console-menu-icon {
    margin-top: 4px;
    background: #17373c;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-top: 5px;
    text-align: center;
}

.console-menu-icon > i {
    font-size: 20px;
    color: #97cb04;
    cursor: pointer;
}

.console-menu-icon > i:hover {
    color: #ffffff;
}

.console-left-icon {
    display: inline-block;
}

/* #Console notification */
.console-notification-header {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #36ba45;
    color: #ffffff;
    top: -4px;
    right: -4px;
    text-align: center;
    font-size: 6px;
    padding-top: 5px;
}

.console-drop-menu.notification-menu,
.console-drop-menu.notification-menu-left {
    min-width: 300px;
    min-height: 355px;
    padding-bottom: 0;
}

.console-drop-menu > li.notification-header > span.drop-sub-header {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    font-size: 13px;
    padding-top: 12px;
    display: inline-block;
    text-align: right;
    float: right;
    color: #36ba45 !important;
    padding-right: 13px;
}

.console-drop-menu.notification-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    margin: auto 0px;
    text-align: center;
    left: 260px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 22px solid white;
}

.console-drop-menu.notification-menu-left::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    margin: auto 0px;
    text-align: center;
    left: 10px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 22px solid white;
}

.console-notofication-wrapper {
    width: 100%;
    height: 350px;
    overflow: hidden;
    padding: 0px 5px 5px 0px;

}

.console-notofication-wrapper > .notification-status {
    text-align: center;
    display: none;
}

.notification-list {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 0px 3px 0px;
    margin-left: 2px;
    margin-right: 12px;
}

.notification-icon,
.ticket-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    padding-top: 12px;
}

.notification-icon.user-list,
.ticket-icon.user-list {
    padding-top: 0px;
}

.notification-icon.user-list > img,
.ticket-icon.user-list > img {
    width: 55px;
    height: auto;
}

.notification-icon > i {
    font-size: 23px;
}

.notification-text {
    color: #8298ae !important;
    padding: 5px 2px 0px 4px;
    font-size: 13px;
}

.bold {
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
}

.notification-time {
    text-align: left;
    font-size: 10px;
    display: inline-block;
}

.notification-time.link {
    text-align: right;
    font-size: 10px;
    cursor: pointer;
    float: right;
    color: #14d0a0;
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
}

.notification-time.group {
    padding-left: 5px;
    color: #45bf55;
}

.notification-time.link:hover {
    color: #36BA45;
}

.txt-notification-search {
    height: 27px;
    width: 117px;
    border: 1px solid #8298ae;
}

.send-notification-wrapper {
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    position: absolute;
    height: 412px;
    top: 0;
    border-radius: 5px;
    display: none;
}

.send-notification-wrapper > .wrap {
    padding: 100px 20px 10px 20px;
}

/*console phone wrapper */
.console-phone-wrapper {
    position: fixed;
    width: 250px;
    height: 250px;
    background: #ffffff;
    right: 10px;
    top: 20%;
    border-radius: 20px 7px;
    overflow: hidden;
    z-index: 2000;
}

.income-call-wrapper {
    width: 250px;
    height: 250px;
    position: fixed;
    border-radius: 20px 7px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d1c33+0,2b4d52+99 */
    background: #0d1c33; /* Old browsers */
    background: -moz-linear-gradient(top, #0d1c33 0%, #2b4d52 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0d1c33 0%, #2b4d52 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0d1c33 0%, #2b4d52 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d1c33', endColorstr='#2b4d52', GradientType=0); /* IE6-9 */
}

.income-call-details {
    text-align: center;
    width: 250px;
    height: 350px;
}

.income-call-details > .user-details {
    color: #fff;
    margin-top: 40px;
    text-align: center;
}

.income-call-details > .company-details {
    text-align: left;
    padding-top: 15px;
    padding-left: 30px;
    color: #ffffff;
}

.income-call-details > .user-details > h4 {
    margin-bottom: 0px;
    width: 100%;
    font-size: 20px;
    padding-left: 15px;
}

.income-call-details > .user-details > small {
    color: #36ba45;
    padding-left: 15px;
}

.anz-btn,
.hangout-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
}

.hangout-btn {
    padding-top: 8px;
}

.anz-btn > i {
    font-size: 30px;
    color: #36ba45;
}

.hangout-btn > i {
    font-size: 40px;
    color: #d90000;
}

.incoming-action-wrapper {
    margin-top: 50px;
}

.anz-btn {
    background: rgba(54, 186, 69, 0.2);
}

.hangout-btn {
    background: rgba(249, 63, 106, 0.2);
}

.income-call-details > .user-wrapper {
    height: 100px;
    width: 100px;
    background: rgba(20, 208, 160, 0.2);
    text-align: center;
    position: absolute;
    margin: 0 auto;
    border-radius: 50%;
    left: 81px;
    top: 40px;
    overflow: hidden;
    padding-top: 13px;
}

.income-call-details > .user-wrapper > img {
    border-radius: 50%;
    border: 5px solid rgba(20, 208, 160, 1);
}

.call-operation-wrapper {
    width: 295px;
    height: 70px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    background: #ffffff;
    -webkit-box-shadow: -1px 1px 10px -2px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -1px 1px 10px -2px rgba(0, 0, 0, 0.53);
    box-shadow: -1px 1px 10px -2px rgba(0, 0, 0, 0.53);
    padding: 16px;
    border-radius: 45px;
    z-index: 2000;
}

.phone-button-wrapper > .phone-btn {
    display: inline-block;
    background: #f7f5f5;
    border-radius: 63%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    padding-top: 7px;
}

.phone-button-wrapper > .phone-btn > i {
    font-size: 20px;
    padding: 5px;
    color: #17373c;
}

/*view ticket*/
.view-ticket-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.ticket-wrap {
    background: #ffffff;
    height: auto;
    max-height: 800px;
    margin-top: 58px;
    overflow: hidden;
    padding: 10px 25px 20px 25px;
    -webkit-box-shadow: -1px -1px 27px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 27px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 27px -6px rgba(0, 0, 0, 0.75);
}

.ticket-details-wrap {
    min-height: 450px;
}

.model-header {
    height: auto;
    border-bottom: 1px solid #36ba45;
    margin-top: 5px;
    padding-bottom: 65px;
}

.mode-left-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f3f1f1;
    border-radius: 50%;
    padding-top: 7px;
}

.mode-left-icon > i {
    color: #36ba45;
    font-size: 25px;
    padding-right: 20px;
    padding-left: 13px;
}

.model-header-text {
    display: inline-block;
    font-size: 20px;
    padding-left: 15px;
    color: #0d1c33;
}

.model-btn-wrapper > .btn-warp {
    display: inline-block;
}

.model-btn-wrapper {
    padding-top: 11px;
    text-align: right;
}

.model-body {
    padding: 30px 0px 10px 0px;
}

.ticket-list-header {
    color: #36ba45;
    margin-top: 20px;
    margin-bottom: 20px;
}

.active-menu-icon {
    color: #ffffff !important;
}

.ticket-details {
    background: #ffffff;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    padding: 7px 5px 5px 5px;
    overflow: hidden;
}

.ticket-list-wrapper {
    overflow: hidden;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.z-index-0 {
    z-index: 0 !important;
}

/*main console tab wrapper */
.console-tab-wrapper {
    padding: 80px 20px 10px 20px;
}

.tab-content {
    background: #fff;
    min-height: 100vh;
    height: auto;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
}

/*profile wrapper */
.profile-left-wrapper {
}

.profile-right-wrapper {

}

.profile-right-wrapper > .profile-wrap {
    height: auto;
    width: 100%;
    background-color: #17373c;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 21px;
    padding-bottom: 30px;
    -webkit-box-shadow: -5px 3px 19px -4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: -5px 3px 19px -4px rgba(0, 0, 0, 0.21);
    box-shadow: -5px 3px 19px -4px rgba(0, 0, 0, 0.21);
}

.layout-header {
    height: auto;
    border-bottom: 1px solid #d2c242;
    padding: 11px 10px 44px 10px;
}

.layout-header > div > .left-text {
    color: #14d0a0;
    font-size: 19px;
    padding-top: 5px;
}

.layout-header > div > .btn-wrapper {
    color: #14d0a0;
    text-align: right;
    right: 0;
}

.profile-details-img {
    margin-top: 35px;
    margin-bottom: 10px;
    width: 100%;
}

.profile-status {
    width: 100%;
    color: #ffffff;
}

.profile-status > span {
    color: #36BA45;
}

.profile-img-wrapper {
    padding-left: 10px;
}

.online-user {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #36ba45;
    display: inline-block;
    margin-right: 6px;
}

.inline-btn {
    display: inline-block;
}

.profile-body-wrapper {

}

.profile-details-info {
    padding-top: 10px;
}

.header-text-h5 {
    color: #d2c242;
    font-size: 17px;
}

.header2-text-h5 {
    color: #d2c242;
    font-size: 15px;
}

ul.info-list {
    list-style: none;
    padding-left: 0px;
}

ul.info-list > li {
    display: inline-block;
    padding-right: 20px;
}

ul.info-list > li > small {
    color: #8298ae;
}

ul.info-list > li > h5 {
    color: #ffffff;
    margin-top: 2px;
}

/* info list BIG */
ul.info-list-lg {
    list-style: none;
    padding-left: 0px;
}

ul.info-list-lg > li {
    display: inline-block;
    padding-right: 20px;
    padding-right: 50px;
}

ul.info-list-lg > li > small {
    color: #14d0a0;
    font-size: 15px;
}

ul.info-list-lg > li > h5 {
    color: #0d1c34;
    margin-top: 2px;
}

.profile-details-tab {
    position: absolute;
    top: 90%;
}

.profile-tab {

}

.profile-tab-wrapper {

}

.profile-tab-wrapper > ul {
    padding-left: 300px;
}

.nav-tabs > li.profile-tab > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0;
    color: #8298ae;
    font-size: 17px;
}

.nav-tabs > li.profile-tab > a:hover {
    background: transparent;
    border-bottom: 5px solid #14d0a0;
}

.nav-tabs > li.profile-tab.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    cursor: default;
    background-color: transparent !important;
    border-bottom: 5px solid #14d0a0;
    border-radius: 0;
    color: #14d0a0;
}

.nav > li.profile-tab > a {
    padding: 2px 15px;
}

.profile-tab-wrapper > div.tab-content {
    width: 100%;
    padding: 10px 35px 10px 35px;
    margin-top: 10px;
}

/*time line*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 4px;
    background-color: #f7f5f5;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    background: #f7f5f5;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    color: #333;

}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -10px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #f7f5f5;
    border-right: 0 solid #f7f5f5;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timelline-wrapper {
    margin-bottom: 200px;
    height: 100%;
    width: 100%;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    color: #8298ae;
    font-size: 12px;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.bottom-line {
    border-bottom: 1px solid #14d0a0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.copy {
    cursor: pointer;
}

.btn-left-icon {
    color: #14d0a0;
    font-size: 17px;
    cursor: pointer;
}

.btn-left-icon:hover {
    color: #d2c242;
}

.btn-left-icon > i {
    padding-right: 5px;
}

.header-round-icon {
    padding-bottom: 20px;
}

.header-round-icon > .text-header {
    display: inline-block;
    color: #0d1c34;
    padding-left: 10px;
}

.header-round-icon > .icon-left {
    width: 40px;
    height: 40px;
    background: #17373c;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.header-round-icon > .icon-left > i {
    color: #a1d700;
    font-size: 25px;
}

/*engagement wrapper*/
.engagement-wrapper {
    padding: 25px 19px 5px 22px;
}

.IVR-wrapper {
    padding: 25px 19px 5px 22px;
}

.IVR-details-wrap {
    height: auto;
}

.IVR-details-wrap > .ivr-list {
    width: 100%;
    height: auto;
    background: #ffffff;
    -webkit-box-shadow: -7px 3px 27px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 3px 27px -14px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 3px 27px -14px rgba(0, 0, 0, 0.75);
    font-size: 10px;
    padding: 13px 10px 15px 10px;
    margin-bottom: 5px;
}

.new-note-wrapper {
    width: 100%;
    padding-bottom: 45px;
}

.engagement-note-list {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.engagement-note-list > .note-wrap {
    color: #8298ae;
    font-size: 12px;
    padding-bottom: 14px;
    border-bottom: 1px solid #d2c242;
    display: block;
    width: 100%;
    padding-top: 13px;
}

.note-wrap > .left-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #8298ae;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right: 5px;
    margin-top: -6px;
}

.note-wrap > .left-icon > i {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.9;
}

/*left profile */

.layout-header > div > .left-text.header-small {
    color: #8298ae;
    font-size: 10px;
    padding-top: 12px;
}

/*profile ticker view */
.profile-ticker-wrap {
    min-height: 130px;
    height: auto;
    width: 100%;
    background: #f7f5f5;
    -webkit-box-shadow: -7px 3px 27px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 3px 27px -14px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 3px 27px -14px rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 20px;
    position: relative;
    margin-top: 25px;
}

.profile-ticker-wrap > .left-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.profile-ticker-wrap > .right-ticket-details {
    padding: 10px 30px 0px 30px;
}

.ticker-id {
    display: block;
    text-align: left;
    color: #a1d700;
    cursor: pointer;
    font-size: 10px;
}

.ticket-date {
    float: right;
    color: #14d0a0;
}

.ticker-id:hover {
    color: #0d1c33;
}

.ticket-subj {
    padding-top: 10px;
    padding-bottom: 3px;
    text-transform: uppercase;
    color: #8298ae;
    font-size: 12px;
}

.ticket-subj > small {
    padding-left: 10px;
}

.ticket-subj > small.high {
    color: #d90000;
}

.ticket-channel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: -25px;
    text-align: center;
    padding-top: 8px;
}

.ticket-desc {
    padding-bottom: 5px;
}

.ticket-channel > i {
    font-size: 25px;
    color: #ffffff;
}

.profile-ticker-wrap > .left-avatar > img {
    width: 100px;
    height: 100px;
    object-position: 50% 50%;
}

.object-fit_fill {
    object-fit: fill
}

.object-fit_contain {
    object-fit: contain
}

.object-fit_cover {
    object-fit: cover
}

.object-fit_none {
    object-fit: none
}

.object-fit_scale-down {
    object-fit: scale-down
}

/* add new ticket*/
.fixed-model-opacity {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    z-index: 100;
}

.model-main-wrapper {
    background: #fff;
    height: 690px;
    margin-top: 20px;
    padding: 10px 25px 20px 25px;
    position: relative;

}

.model-footer-wrapper {
    background: #0d1c34;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-right: 27px;
}

/* #MAIN css */
::-webkit-input-placeholder {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    color: #8298ae !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    color: #8298ae !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    color: #8298ae !important;
}

:-ms-input-placeholder {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    color: #8298ae !important;
}

.m-left-10 {
    margin-left: 10px;
}

.m-right-10 {
    margin-right: 10px;
}

.p-left-15 {
    padding-left: 15px;
}

.m-left-25 {
    margin-left: 25px;
}

.p-left-40 {
    padding-left: 40px;
}

.p-left-0 {
    padding-left: 0px !important;
}

.p-right-0 {
    padding-right: 0px !important;
}

/*temp style */
.m-r-35 {
    margin-right: 30px;
}

.m-l-25 {
    margin-left: 25px;
}

#call span {
    display: inline-block;
    -webkit-animation: Rotate 2000ms linear 2000ms 5;
    animation: Rotate 2000ms linear 2000ms 5;
}

/*click numberpad*/
.dialpadbtn:hover {
    text-decoration: none !important;
}

.dialpadbtn:active {
    background: #49a3d3;
    color: #fff;
    font-weight: 500;
    transition: background 0.1s;
    text-decoration: none !important;
}

/*dial pad*/
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.div-keypad {
    left: 0px;
    width: 301px;
    height: 280px;
    /* background: rgba(40, 55, 71, 0.9); */
    margin: 0 auto;
    /* border-radius: 51px; */
    position: absolute;
    top: 100px;
    z-index: 2000;
    background: #17373c;
    display: none;
}

.dialpadbtn {
    display: inline-block;
    width: 55px;
    height: 55px;
    color: #fff;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    line-height: 3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none !important;

}

.p-top-6 {
    padding-top: 6px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-0 {
    margin-top: 0px;
}

/*auto complete drop down style*/
.auto-complete-left-panel {
    float: left;
}

.auto-complete-left-panel img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.auto-complete-right-panel {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    float: left;
    margin-left: 5px;
    margin-top: 7px;
}

.auto-complete-right-panel span:first-child {
    font-size: 16px;
}

.auto-complete-right-panel span:nth-child(2) {
    font-size: 14px;
    color: gray;
}

.auto-complete-right-panel span:last-child {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    display: block;
    font-size: 13px;
    text-transform: capitalize;
    padding-left: 10px;
}

.position-relative {
    position: relative;
}


