<!-- Edit profile -->
<div class="user-p-edit-wrapper-052017 animated fadeIn">
    <div class="user-edit-wrapper">
        <!-- subject -->
        <div class="form-group">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="label-052017"
                           for="firstName">
                        FIRST NAME*
                    </label>
                    <input type="text"
                           class="form-control txt-input-052017"
                           id="firstName">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="label-052017"
                           for="lastName">
                        LAST NAME*
                    </label>
                    <input type="text"
                           class="form-control txt-input-052017"
                           id="lastName">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-7">
                <div class="form-group">
                    <label class="label-052017"
                           for="exampleInputEmail1">
                        EMAIL*
                    </label>
                    <input type="email"
                           class="form-control txt-input-052017"
                           id="exampleInputEmail1">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="label-052017"
                           for="exampleInputEmail1">
                        GENDER*
                    </label>
                    <input type="email"
                           class="form-control txt-input-052017"
                           id="exampleInputEmail1">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="label-052017"
                       for="exampleInputEmail1">
                    BIRTHDAY
                </label>
            </div>
            <div class="col-lg-4">
                <select class="form-control "
                        ng-options="day for day in dayList track by day"
                        ng-model="newProfile.dob.day"></select>
            </div>
            <div class="col-lg-4">
                <select class="form-control "
                        ng-options="month.name for month in monthList track by month.index"
                        ng-model="newProfile.dob.month"></select>
            </div>
            <div class="col-lg-4">
                <select class="form-control"
                        ng-options="y for y in yearList track by y"
                        ng-model="newProfile.dob.year"></select>
            </div>

        </div>

        <div class="col-lg-12">
            <div class="form-group" style="margin-top: 20px;">
                <button disabled class="btn btn-lg btn-block btn-save-052017">
                    <i class="fa fa-save"></i>
                    UPDATE
                </button>
            </div>
        </div>

    </div>
</div>