<div class="container">
    <div id="myNoteShow" class="mynote-noti-wrapper -ringing">
        <div class="body">
            <div class="header">
                {{myNoteReminder.Message.title}}
            </div>
            <div class="note-notification-icon ">
                <i class="veery-font-1-alarm-1 "></i>
            </div>
            <h5>

                {{myNoteReminder.Message.Message}}
            </h5>

            <div class="note-close" ng-click="myNoteNotiMe.hideMe();">
                <i class="ti-close"></i>
            </div>
        </div>
    </div>
</div>