<div ng-controller="addNewTicketCtrl">
    <div id="addNewTicket" class="animated fixed-model-opacity display-none">
        <div class="container">
            <div class="col-lg-offset-2 col-lg-8 col-md-8 col-xs-8 ">
                <div class="model-main-wrapper">
                    <!-- MODEL HEADER -->
                    <div class="model-header">
                        <div class="col-md-6">
                            <div class="mode-left-icon">
                                <i class="veery-font-1-notepad"></i>
                            </div>
                            <div class="model-header-text">
                                Add New Ticket
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 ">
                            <div class="model-btn-wrapper">
                                <div class="btn-warp ">
                                <span class="btn btn-default btn-close"
                                      ng-click="clickAddNewTicket('#addNewTicket','display-none')"
                                      id="closeTicket">close</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODEL HEADER -->

                    <!-- MODEL HEADER -->
                    <div class="model-body"
                         ng-slimscroll
                         opacity="0.1"
                         distance="5px"
                         height="450px"
                         width="100%"
                         ng-mouseover="scrollEnabled = true"
                         ng-mouseleave="scrollEnabled = false"
                         enabled="{{ scrollEnabled }}">
                        <form>
                            <div class="form-group">
                                <label for="ticketSubject">Subject</label>
                                <input type="text" class="form-control" id="ticketSubject" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="ticketSubject">Priority</label>
                                <div class="form-inline">
                                    <div class="bg-checkbox red font-white inline-btn">
                                        <i class="main-icon-2-cancel"></i>
                                        urgent
                                    </div>
                                    <div class="bg-checkbox red font-white orange">
                                        <i class="main-icon-2-cancel"></i>
                                        high
                                    </div>
                                    <div class="bg-checkbox red font-white teal600">
                                        <i class="main-icon-2-cancel"></i>
                                        normal
                                    </div>
                                    <div class="bg-checkbox red font-white gray300">
                                        <i class="main-icon-2-cancel"></i>
                                        low
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ticketSubject">Tags</label>
                                <tags-input ng-model="tags">
                                    <auto-complete source="loadTags($query)"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group">
                                <label for="ticketSubject">Description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ticketSubject">Assignee user</label>
                                <tags-input ng-model="users"
                                            display-property="profileName"
                                            placeholder="choose assignee user"
                                            replace-spaces-with-dashes="false">
                                    <auto-complete source="loadUser($query)"
                                                   min-length="0"
                                                   load-on-focus="true"
                                                   load-on-empty="true"
                                                   max-results-to-show="32"
                                                   template="my-custom-template">
                                    </auto-complete>
                                </tags-input>
                                <script type="text/ng-template" id="my-custom-template">
                                    <div class="auto-complete-left-panel">
                                        <img ng-src="{{data.img}}"/>
                                    </div>
                                    <div class="auto-complete-right-panel">
                                        <span ng-bind-html="$highlight($getDisplayText())"></span>
                                    </div>
                                </script>
                            </div>
                            <div class="form-group">
                                <label for="ticketSubject">Related Tickets</label>
                                <tags-input ng-model="related" placeholder="enter here.."
                                <auto-complete source="loadTags($query)"></auto-complete>
                                </tags-input>
                            </div>

                        </form>
                    </div>
                    <!-- END MODEL HEADER -->
                    <div class="model-footer-wrapper">
                        <div class="model-btn-wrapper">
                            <div class="btn-warp ">
                                <span class="btn btn-default"
                                      ng-click="clickAddNewTicket('#addNewTicket','display-none')"
                                >Save</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>