<div ng-controller="addNewTicketCtrl">
    <div id="addNewTicket" class="animated fixed-model-opacity display-none">
        <div class="container">
            <div class="col-lg-offset-2 col-lg-8 col-md-8 col-xs-8 ">
                <div class="model-main-wrapper">
                    <div class="model-header">
                        <div class="col-md-6">
                            <div class="mode-left-icon">
                                <i class="veery-font-1-notepad"></i>
                            </div>
                            <div class="model-header-text">
                                Add New Ticket
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 ">
                            <div class="model-btn-wrapper">
                                <div class="btn-warp ">
                                <span class="btn btn-default btn-close"
                                      ng-click="clickAddNewTicket('#addNewTicket','display-none')"
                                      id="closeTicket">close</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>