<div class="profile-ticket-wrapper">

    <div class="profile-ticker-wrap new-ticker" ng-repeat="ticket in ticketList">
        <div class="ticket-channel call">
            <i class="veery-font-3-mail-4"></i>
        </div>
        <div class="left-avatar">
            <img class="object-fit_cover" src="assets/img/avatar/default-user.png" ng-src="{{ticket.submitter.avatar}}">
        </div>
        <div class="right-ticket-details">
            <div class="row">
                <div class="ticker-id bold" ng-click="gotoTicket(ticket)">
                    {{ticket.reference}}
                </div>
                <div class="ticket-subj bold">
                    {{ticket.subject}}
                    <small class="high">{{ticket.priority}}</small>
                </div>
                <div class="ticket-desc">
                    {{ticket.description}}
                </div>
                <ul class="info-list-lg">
                    <li>
                        <small>OWNER</small>
                        <h5>{{ticket.submitter.name}}</h5>
                    </li>
                    <li>
                        <small>USER</small>
                        <h5>{{ticket.requester.name}}</h5>
                    </li>
                </ul>
                <div class="ticket-date">
                    <time-ago from-time='{{ticket.created_at}}' format='MM/dd/yyyy'></time-ago>
                </div>
            </div>

        </div>
    </div>
</div>