<div id="mainTicketWrapper" class="animated view-ticket-wrapper "
     ng-controller="ticketCtrl">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="ticket-wrap">
                <div class="model-header">
                    <div class="col-md-6">
                        <div class="mode-left-icon">
                            <i class="veery-font-1-notepad"></i>
                        </div>
                        <div class="model-header-text">
                            Ticket Inbox
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 ">
                        <div class="model-btn-wrapper">
                            <div class="btn-warp">
                                <span id ="mybtn" class="btn btn-default2" ng-disabled="!ticketList.loadCompleted" ng-click="switchTickets('MY')">my ticket</span>
                            </div>
                            <div class="btn-warp">
                                <span id="grpbtn" class="btn btn-default2" ng-disabled="!ticketList.loadCompleted" ng-click="switchTickets('GROUP')">group</span>
                            </div>
                            <div class="btn-warp ">
                                <span class="btn btn-default btn-close"
                                      ng-click="closeTicketInbox()"
                                      id="closeTicket">close</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ticket-list-wrapper">
                    <!-- #todolist -->
                    <div class="col-md-4" id="todo-block">
                        <div class="ticket-list-header">
                            TODO ({{ticketList.toDo.length}})
                        </div>
                        <div ng-slimscroll
                             opacity="0.1"
                             distance="5px"
                             height="480px"
                             width="100%"
                             ng-mouseover="chatWidgetscrollEnabled = true"
                             ng-mouseleave="chatWidgetscrollEnabled = false"
                             enabled="{{ chatWidgetscrollEnabled }}"
                                ng-onscroll="showIt()"id="scrltodo">
                            <div class="ticket-details todo" id="todo-items" ng-repeat="todo in ticketList.toDo">
                                <div class="col-lg-3">
                                    <div class="ticket-icon user-list  ">
                                        <img src="assets/img/avatar/oykun.jpg"
                                             ng-src="{{todo.img}}">
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="notification-text ">
                                            {{todo.subject}}<div class="notification-ref link" ng-click="gotoTicket(todo)">
                                            {{todo.reference}}
                                        </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="notification-time ">
                                            {{todo.type}}
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="notification-time " ng-show="todo.assignee_name">
                                            {{todo.assignee_name}}
                                        </div>
                                        <div class="notification-time " ng-show="todo.assignee_group_name">
                                             {{todo.assignee_group_name}}
                                        </div>
                                        <div class="notification-time group ">
                                            {{todo.timeDelay}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ticket-list-header">
                            IN PROGRESS ({{ticketList.inProgress.length}})
                        </div>
                        <div ng-slimscroll
                             opacity="0.1"
                             distance="5px"
                             height="480px"
                             width="100%"
                             ng-mouseover="chatWidgetscrollEnabled = true"
                             ng-mouseleave="chatWidgetscrollEnabled = false"
                             enabled="{{ chatWidgetscrollEnabled }}"
                             onscroll="showIt()">
                            <div class="ticket-details in-progress" ng-repeat="inprogress in ticketList.inProgress">
                                <div class="col-lg-3">
                                    <div class="ticket-icon user-list  ">
                                        <img src="assets/img/avatar/oykun.jpg"
                                             ng-src="{{inprogress.img}}">
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="notification-text ">
                                            {{inprogress.subject}}
                                            <div class="notification-ref link" ng-click="gotoTicket(todo.id)">
                                                {{inprogress.reference}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="notification-time ">
                                            {{inprogress.type}}
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="notification-time " ng-show="inprogress.assignee">
                                            {{inprogress.assignee_name}}
                                        </div>

                                        <div class="notification-time " ng-show="inprogress.assignee_group">
                                            {{inprogress.assignee_group_name}}
                                        </div>
                                    <div class="notification-time group ">
                                        {{inprogress.timeDelay}}
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ticket-list-header">
                            DONE ({{ticketList.done.length}})
                        </div>
                        <div ng-slimscroll
                             opacity="0.1"
                             distance="5px"
                             height="480px"
                             width="100%"
                             ng-mouseover="scrollEnabled = true"
                             ng-mouseleave="scrollEnabled = false"
                             enabled="{{ scrollEnabled }}">
                            <div class="ticket-details done" ng-repeat="done in ticketList.done">
                                <div class="col-lg-3">
                                    <div class="ticket-icon user-list  ">
                                        <img src="assets/img/avatar/oykun.jpg"
                                             ng-src="{{done.img}}">
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="notification-text ">
                                            {{done.status}}
                                            <div class="notification-ref link" ng-click="gotoTicket(todo.id)">
                                                {{done.reference}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="notification-time ">
                                            {{done.type}}
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="notification-time " ng-show="done.assignee">
                                            {{done.assignee_name}}
                                        </div>
                                        <div class="notification-time " ng-show="done.assignee_group">
                                            {{done.assignee_group_name}}
                                        </div>
                                        <div class="notification-time group ">
                                            {{done.timeDelay}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>