<div ng-show="editTicket">
    <div class="position-relative">
        <div id="editTicket" class="animated fixed-model-opacity">
            <div class="container">
                <div class="col-lg-offset-2 col-lg-8 col-md-8 col-xs-8 ">
                    <div class="model-main-wrapper ">
                        <!-- MODEL HEADER -->
                        <div class="model-header">
                            <div class="col-md-6">
                                <div class="mode-left-icon">
                                    <i class="veery-font-1-notepad"></i>
                                </div>
                                <div class="model-header-text">
                                    Edit Ticket
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 ">
                                <div class="model-btn-wrapper">
                                    <div class="btn-warp ">
                                <span class="btn btn-default btn-close"
                                      ng-click="clickShowTickerEditMode();">close</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END MODEL HEADER -->

                        <!-- MODEL HEADER -->
                        <div class="model-body">
                            <form>
                                <div class="form-group">
                                    <label for="ticketSubject">Subject</label>
                                    <input ng-model="ticket.subject" type="text" class="form-control"
                                           id="ticketSubject"
                                           placeholder="">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <label for="ticketSubject">Priority</label>
                                                <select class="form-control" ng-model="ticket.type">
                                                    <option>question</option>
                                                    <option>complain</option>
                                                    <option>incident</option>
                                                    <option>action</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ticketSubject">Tags</label>
                                    <!--<tags-input ng-model="tags">-->
                                    <!--<auto-complete source="loadTags($query)"></auto-complete>-->
                                    <!--</tags-input>-->
                                    <tags-input ng-model="ticket.selectedTags" placeholder="choose Tags"
                                                replace-spaces-with-dashes="false"
                                                display-property="name"
                                                add-from-autocomplete-only="true"
                                                on-tag-added="onChipAddTag($tag)"
                                                on-tag-removed="onChipDeleteTag($tag)"
                                                ng-disabled="" min-length="1">
                                        <auto-complete source="queryTagSearch($query)"
                                                       load-on-empty="true"
                                                       load-on-focus="true"
                                                       min-length="1"></auto-complete>
                                    </tags-input>
                                </div>
                                <div class="form-group">
                                    <label for="ticketSubject">Description</label>
                                    <textarea ng-model="ticket.description" class="form-control" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <!-- END MODEL BODY -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
