

<form autocomplete="off" name="contactFrm">
    <!-- e contact details -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ps-sub-title">
                <div class="col-lg-7">
                    <h5>Voice Recorder</h5>
                </div>
                <div class="col-lg-5 pull-right">
                    <h6>Maximum recording time : {{greet_time_limit}}s</h6>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <!-- email -->
        <div class="col-lg-12">
            <div class="form-group">

                <ng-audio-recorder id="mainAudio" audio-model="recorded" show-player="!recorder.status.isRecording" time-limit="greet_time_limit" on-record-complete="onShowUpload()">

                    <div ng-if="recorder.isAvailable" >
                        <div class="row" >


                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">

                                <!--<div class="voice-record-wrapper">-->

                                <!--</div>-->
                                <div class="form-group ">
                                    <div  class="btn-grtn-action"
                                          ng-class="recorder.status.isRecording?'voice-record-active':'voice-record-deactive'">
                                        <i class="ti-microphone"
                                           title="Record message"
                                           ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                           type="button"
                                           ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording" >
                                        </i>


                                    </div>
                                    <span ng-if="recorder.status.isRecording" style="color: white">
                                        Recording : {{recorder.elapsedTime > 9 ? recorder.elapsedTime : ('0'+recorder.elapsedTime)}} s
                                    </span>


                                </div>
                            </div>
                            <div class="col-lg-4"></div>


                        </div>



                        <div ng-if="recorder.status.isDenied === true" style="color: red;">
                            You need to grant permission for this application to USE your microphone.
                        </div>


                        <div style="max-width: 600px ; text-decoration-color: white">
                            <div ng-show="recorder.status.isConverting">
                                Please wait while your recording is processed.
                            </div>


                        </div>

                    </div>


                    <div ng-if="!recorder.isAvailable">
                        Your browser does not support this feature natively, please use latest version of <a
                            href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
                            href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
                        Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
                        use this feature.
                    </div>
                </ng-audio-recorder>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ps-sub-title">
                <h5>Language Details</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- email -->
        <div class="col-lg-11">
            <div class="form-group">
                <label >Language</label>
                <select class="select2_single form-control ps-form-controller" tabindex="-1"
                        aria-hidden="true"
                        required
                        name="language" ng-model="userLanguage.name" ng-change="onLanguageSelect(userLanguage)">
                    <option ng-repeat="language in orgData" value="{{language}}" >
                        {{language}}
                    </option>
                </select>

            </div>
        </div>

    </div>

    <div class="row" ng-show="userLanguage.name">
        <!-- email -->
        <div class="col-lg-12" style="color:lightgrey">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            <div class="col-lg-7">
                                <span style="color:white ; padding-right: 20px" >Default Greeting</span>
                            </div>
                            <div class="col-lg-5">

                                <!--<uib-progressbar value="uploadProgress" type="warning">
                                </uib-progressbar>-->
                                <div ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].default && !uploadObj['default']" style="background: green; border-radius: 30px ; text-align: center">
                                    Available
                                </div>
                                <div ng-if="!CurrentProfile.user_meta.greetings[userLanguage.name].default && !uploadObj['default']" style="background: red; border-radius: 30px ; text-align: center">
                                    Not Available
                                </div>
                                <div ng-if="uploadObj['default']" style="background: yellow; border-radius: 30px ; text-align: center">
                                    Uploading ...
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">

                                    <i class="ti-upload pull-right"></i>

                                    <input type="file"
                                           nv-file-select="" uploader="greetUploader"
                                           ng-click="clearGreetQueue('default')" ng-disabled="isGrtnUploading || !userLanguage.name" class="edit-t-input-file-greeting" >



                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="ti-trash pull-right" ng-click="deleteAttachedGreeting('default')" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].default"></i>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting ">
                                    <i class="pull-right"   ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].default" ng-click="playFile('default')" ng-class="{'ti-control-play':!playObj['default'],'ti-control-pause':playObj['default']}"></i>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            <div class="col-lg-7">
                                <span style="color:white ; padding-right: 20px" >Morning Greeting</span>
                            </div>
                            <div class="col-lg-5">

                                <div ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].morning && !uploadObj['morning']" style="background: green; border-radius: 30px ; text-align: center">
                                    Available
                                </div>
                                <div ng-if="!CurrentProfile.user_meta.greetings[userLanguage.name].morning && !uploadObj['morning']" style="background: red; border-radius: 30px ; text-align: center">
                                    Not Available
                                </div>
                                <div ng-if="uploadObj['morning']" style="background: yellow; border-radius: 30px ; text-align: center">
                                    Uploading ...
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">

                                    <i class="ti-upload "></i>

                                    <input type="file"
                                           nv-file-select="" uploader="greetUploader"
                                           ng-click="clearGreetQueue('morning')" ng-disabled="isGrtnUploading || !userLanguage.name" class="edit-t-input-file-greeting" >



                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="ti-trash" ng-click="deleteAttachedGreeting('morning')" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].morning"></i>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="pull-right"   ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].morning" ng-click="playFile('morning')" ng-class="{'ti-control-play':!playObj['morning'],'ti-control-pause':playObj['morning']}"></i>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            <div class="col-lg-7">
                                <span style="color:white ; padding-right: 20px" >Afternoon Greeting</span>
                            </div>
                            <div class="col-lg-5">

                                <div ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].afternoon && !uploadObj['afternoon']" style="background: green; border-radius: 30px ; text-align: center">
                                    Available
                                </div>
                                <div ng-if="!CurrentProfile.user_meta.greetings[userLanguage.name].afternoon && !uploadObj['afternoon']" style="background: red; border-radius: 30px ; text-align: center">
                                    Not Available
                                </div>
                                <div ng-if="uploadObj['afternoon']" style="background: yellow; border-radius: 30px ; text-align: center">
                                    Uploading ...
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">

                                    <i class="ti-upload "></i>

                                    <input type="file"
                                           nv-file-select="" uploader="greetUploader"
                                           ng-click="clearGreetQueue('afternoon')" ng-disabled="isGrtnUploading || !userLanguage.name" class="edit-t-input-file-greeting" >



                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="ti-trash" ng-click="deleteAttachedGreeting('afternoon')" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].afternoon"></i>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="pull-right" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].afternoon"  ng-click="playFile('afternoon')" ng-class="{'ti-control-play':!playObj['afternoon'],'ti-control-pause':playObj['afternoon']}"></i>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            <div class="col-lg-7">
                                <span style="color:white ; padding-right: 20px" >Evening Greeting</span>
                            </div>
                            <div class="col-lg-5">

                                <div ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].evening && ! uploadObj['evening']" style="background: green; border-radius: 30px ; text-align: center">
                                    Available
                                </div>
                                <div ng-if="!CurrentProfile.user_meta.greetings[userLanguage.name].evening && !uploadObj['evening']" style="background: red; border-radius: 30px ; text-align: center">
                                    Not Available
                                </div>
                                <div ng-if="uploadObj['evening']" style="background: yellow; border-radius: 30px ; text-align: center">
                                    Uploading ...
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">

                                    <i class="ti-upload "></i>

                                    <input type="file"
                                           nv-file-select="" uploader="greetUploader"
                                           ng-click="clearGreetQueue('evening')" ng-disabled="isGrtnUploading || !userLanguage.name" class="edit-t-input-file-greeting" >



                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i class="ti-trash" ng-click="deleteAttachedGreeting('evening')" ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].evening"></i>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="ps-p-upload edit-t-input-file-greeting">
                                    <i  ng-if="CurrentProfile.user_meta.greetings[userLanguage.name].evening" class="pull-right"  ng-click="playFile('evening')" ng-class="{'ti-control-play':!playObj['evening'],'ti-control-pause':playObj['evening']}"></i>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12" style="padding-top: 10px">
                        <button ng-click="updateUserMeta()" class="btn btn-ps-update pull-right" ng-disabled="isGrtnUploading">
                            Save
                        </button>
                    </div>
                </div>
        </div>
    </div>









</form>




