<section class="section-wrapper05201">

    <!--- ./left main wrapper -->
    <div class="a-summary05201-left">

        <div class="a-summary-avatar">
            <div class="round-a-3-80">
                <div class="round-a-2-60">
                    <div class="round-a-3-40">
                        <img src="assets/img/avatar/coreyweb.jpg" width="50">
                    </div>
                </div>
            </div>
        </div>

        <div class="a-summary-desc">

            <div class="a-summary-name">
                Emma Isabella
            </div>
            <div class="a-summary-email">
                emma@lsabella.com
            </div>
            <!--<div class="a-summary-state">-->
            <!--<ul class="inline-list">-->
            <!--<li class="a-s-status">-->
            <!--<div class="a-state online05201"></div>-->
            <!--</li>-->
            <!--<li class="a-s-status-txt">-->
            <!--online-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
        <div class="a-summary-state">
            <ul class="inline-list">
                <li class="a-s-connect-option animated slideInUp">
                    <i class="icon icon-d-f-icon-softphone"></i>
                </li>
                <li class="a-s-connect-option animated slideInUp">
                    <i class="icon icon-d-f-icon-chat"></i>
                </li>
            </ul>
        </div>
    </div>

    <!--&lt;!&ndash; ./right main wrapper &ndash;&gt;-->
    <!--<div class="a-summary05201-right">-->
    <!--<div class="a-summary-r-wrapper">-->

    <!--<div class="a-summary-r-text animated fadeInDown">-->
    <!--Connect With Partner-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

</section>