<div id="main" main-scroll ng-controller="consoleCtrl">
    <div>
        <nav id="navBar" class="navbar navbar-default console-nav-bar">

            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand console-navbar-brand" href="#">Agent
                        Console
                        <div class="version-beta">BETA</div>
                    </a>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav m-left-25" uib-dropdown>

                        <!-- notification -->
                        <li class="console-menu-icon m-left-10 m-right-10" id="notificationAlarm"
                            ng-click="checkAndRegister()" uib-dropdown
                            uib-dropdown-toggle>
                            <i id="regNotification" class="animated  veery-font-1-alarm display-block"
                               ng-class="{'color-orange':unredNotifications!=0,'color-red':!isSocketRegistered}"> </i>
                            <i id="regNotificationLoading" class="fa fa-spinner fa-spin display-none"
                               style="margin-top: 3px;"></i>

                            <div class="console-notification-header" ng-class="{'bg-orange':unredNotifications!=0}"
                                 ng-show="isSocketRegistered">
                                {{unredNotifications}}
                            </div>
                            <ul class="dropdown-menu console-drop-menu notification-menu-left "
                                ng-show="isSocketRegistered" uib-dropdown-menu
                                role="menu"
                                aria-labelledby="btn-append-to-single-button">
                                <li class="notification-header">
                                    <a class="drop-header">Notification
                                        center</a>
                                    <span class="drop-sub-header">new ({{unredNotifications}})</span>
                                </li>
                                <li class="divider"></li>
                                <div class="console-notofication-wrapper"
                                     ng-slimscroll
                                     opacity="0.1"
                                     distance="10px"
                                     height="355px"
                                     width="100%"
                                     ng-mouseover="chatWidgetscrollEnabled = true"
                                     ng-mouseleave="chatWidgetscrollEnabled = false"
                                     enabled="{{ chatWidgetscrollEnabled }}">
                                    <div class="notification-status" ng-show="unredNotifications==0">
                                        <i class="animated   veery-font-1-alarm"> </i>
                                        </br>
                                        no new notification
                                    </div>
                                    <div class="row notification-list" ng-repeat="notifi in notifications"
                                         ng-click="readNotification(notifi.id)">
                                        <div class="col-lg-3">
                                            <!--<div class="notification-icon  ">
                                                <i class=" {{notifi.icon}}"></i>
                                                <i class=" {{notifi.icon}}"></i>
                                            </div>-->
                                            <div class="notify-img-small">

                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="notification-text">
                                                    {{notifi.header}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="notification-time">
                                                    <time-ago from-time='{{notifi.time}}'
                                                              format='MM/dd/yyyy'></time-ago>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </ul>
                        </li>

                        <form class="form-inline navbar-form navbar-left ">
                            <div class="form-group">
                                <input id="commonSearch" type="text" autocomplete="off" class="main-search-input"
                                       ng-model="searchText"
                                       typeahead-min-length="0" typeahead-on-select="bindSearchData($item)"
                                       uib-typeahead="state as state.value for state in commonSearch($viewValue)"
                                       placeholder="Search by keyword, #ticker or #profile">
                            </div>

                        </form>


                    </ul>


                    <ul class="nav navbar-nav" uib-dropdown>
                        <li id="addNewPage" class="console-menu-icon m-left-10" uib-dropdown-toggle><i
                                class="veery-font-1-add"></i></li>
                        <ul class="dropdown-menu console-drop-menu add-new-page" uib-dropdown-menu role="menu"
                            + aria-labelledby="btn-append-to-single-button">
                            <li><a class="drop-header">Add new page</a></li>
                            <li class="divider"></li>
                            <li class="menuitem menuitem-with-icon" role="menuitem">
                                <a href="javascript:void(0);">Create new profile
                                    <i class="veery-font-1-user"></i></a>
                            </li>
                            <li class="menuitem menuitem-with-icon" role="menuitem"><a href="javascript:void(0);">Create
                                new ticket
                                <i class="veery-font-1-add-2"></i></a></a></li>
                        </ul>
                    </ul>


                    <ul class="nav navbar-nav navbar-right" uib-dropdown>

                        <li>
                            <!-- #Time tracker -->
                            <section id="clock-timer">
                                <div class="time-tracker-wrapper">
                                    <div class="time-tracker-body">
                                        <div class="time-counter inline-block">
                                            <a style="cursor:pointer"
                                               ng-click="openTimerTicket()">{{ttimer.ticketRef}}</a>
                                            <br/>
                                            <timer autostart="false" interval="1000"
                                                   ng-show="ttimer.active"
                                                   start-time="ttimer.startTime">{{hhours}}:
                                                {{mminutes}}: {{sseconds}}.
                                            </timer>
                                        </div>
                                        <div id="play" class="play cursor-pointer"
                                             ng-if="!status.active || ttimer.pause"
                                             ng-click="startTracker()">
                                            <i class="veery-font-1-play-button"></i>
                                        </div>
                                        <div id="pause" class="pause cursor-pointer"
                                             ng-if="status.active && !ttimer.pause"
                                             ng-click="pauseTime()">
                                            <i class="veery-font-1-pause"></i>
                                        </div>
                                        <div id="stop" class="stop cursor-pointer"
                                             ng-if="status.active"
                                             ng-click="stopTime()">
                                            <i class="veery-font-1-stop"></i>
                                        </div>

                                        <!--<div id="ticketId" class="ticket-id cursor-pointer display-none">-->
                                        <!--#85953..-->
                                        <!--</div>-->

                                    </div>
                                </div>
                            </section>
                            <!-- end tracker -->
                        </li>


                        <li class="console-menu-icon m-left-10 m-right-10">
                            <i class="veery-font-1-notepad" ng-click="addFilterTab();">
                            </i>

                        <li class="console-menu-icon m-left-10 m-right-10"
                            uib-dropdown uib-dropdown-toggle>
                            <i class="veery-font-1-file-1" ng-click="consoleTopMenu.openTicket()"></i>
                        <li class="console-menu-icon m-left-10 m-right-10">
                            <i id="isLoadingRegPhone" class="fa fa-spinner  fa-spin display-none"
                               style="margin-top: 3px;"></i>
                            <i id="isBtnReg" class="main-icon-2-telephone-3" ng-click="consoleTopMenu.Register()"></i>
                            <i id="isCallOnline" class="main-icon-2-telephone-4 display-none"
                               ng-click="consoleTopMenu.Register()"></i>
                        </li>

                        <li class="console-menu-icon m-left-10 m-right-10" uib-dropdown uib-dropdown-toggle>
                            <i class="veery-font-3-mail-5" ng-click="addMailInbox();"></i>

                            <div class="console-notification-header">
                                {{unreadMailCount}}
                            </div>
                            <!--<ul class="dropdown-menu console-drop-menu notification-menu" uib-dropdown-menu role="menu"
                                aria-labelledby="btn-append-to-single-button">
                                <li class="notification-header">
                                    <a class="drop-header">Inbox </a>
                                    <span class="drop-sub-header">new (5)</span>
                                </li>
                                <li class="divider"></li>
                                <div class="console-notofication-wrapper"
                                     ng-slimscroll
                                     opacity="0.1"
                                     distance="10px"
                                     height="355px"
                                     width="100%"
                                     ng-mouseover="chatWidgetscrollEnabled = true"
                                     ng-mouseleave="chatWidgetscrollEnabled = false"
                                     enabled="{{ chatWidgetscrollEnabled }}">
                                    <div class="notification-status">
                                        No new notification
                                    </div>
                                    <div class="row notification-list" ng-repeat="notifi in notifications">
                                        <div class="col-lg-3">
                                            <div class="notification-icon inbox  ">
                                                <i class=" {{notifi.icon}}"></i>

                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="notification-text">
                                                    {{notifi.header}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="notification-time">
                                                    {{notifi.time}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </ul>-->
                        </li>

                        <!-- send notification -->
                        <li class="console-menu-icon m-left-10 m-right-10"
                            ng-click="openNav()">
                            <i class="veery-font-1-paper-plane"></i>
                        </li>


                        <div id="consoleProfileImg" class="console-profile-img" uib-dropdown-toggle>
                            <img src="assets/img/avatar/default-user.png" ng-src="{{loginAvatar}}">

                            <div id="userStatus" class="user-state online"></div>
                        </div>

                        <li class="dropdown console-profile-header ">
                            <a href="#" class="dropdown-toggle login-name" uib-dropdown-toggle
                            >Hi,{{loginName}}</a>
                            <a class="time">{{timeBaseMsg}}</a>

                        </li>
                        <ul class="dropdown-menu console-drop-menu" uib-dropdown-menu role="menu"
                            aria-labelledby="btn-append-to-single-button">

                            <li><a class="drop-header">Register</a></li>
                            <li class="divider"></li>
                            <li class="menuitem" role="menuitem"><a
                                    ng-click="changeRegisterStatus.changeStatus('CALL');"
                                    href="javascript:void(0);">Call</a></li>
                            <li class="menuitem" role="menuitem"><a
                                    ng-click="changeRegisterStatus.changeStatus('TICKET');"
                                    href="javascript:void(0);">ticket</a></li>

                            <li><a class="drop-header">Break</a></li>
                            <li class="divider"></li>
                            <li class="menuitem" role="menuitem"><a id="Available"
                                                                    class=""
                                                                    ng-click="breakOption.endBreakOption();"
                                                                    href="javascript:void(0);">
                                available</a></li>
                            <li class="menuitem" role="menuitem"><a id="OfficialBreak"
                                                                    class=""
                                                                    ng-click="breakOption.changeBreakOption('OfficialBreak');"
                                                                    href="javascript:void(0);"> official</a>
                            </li>
                            <li class="menuitem" role="menuitem"><a id="MealBreak"
                                                                    class=""
                                                                    ng-click="breakOption.changeBreakOption('MealBreak');"
                                                                    href="javascript:void(0);"> meal</a>
                            </li>
                            <li class="divider"></li>
                            <li class="menuitem" role="menuitem"><a ng-click="addDashBoard();"
                                                                    href="javascript:void(0)">Dashboard</a></li>
                            <li class="menuitem" role="menuitem"><a href="#">Settings</a></li>
                            <li class="menuitem" role="menuitem"><a href="javascript:void(0);"
                                                                    ng-click="logOut();"
                            >Logout</a></li>
                        </ul>


                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>


        <!-- incoming call notification -->
        <div id="incomingNotification" class="console-phone-wrapper display-none Phone is-animating " id="phoneWidget">
            <div class="income-call-wrapper ">
                <div class="income-call-details">
                    <div class="company-details">
                        <small>Company : 5</small>
                    </div>
                    <div class="user-details">
                        <h4>{{call.number}}</h4>
                        <small>Sinhala</small>
                    </div>
                    <div class="incoming-action-wrapper">
                        <div class="row">
                            <div class="col-md-6 p-left-40">
                                <div class="anz-btn  ">
                                    <i class="veery-phone-icon-1-call-answer " ng-click="veeryPhone.answerCall();"></i>
                                </div>
                            </div>
                            <div class="col-md-6 p-left-40">
                                <div class="hangout-btn">
                                    <i class="veery-phone-icon-1-end-call-button"
                                       ng-click="veeryPhone.rejectCall();"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- view ticket -->
        <div ng-include="'app/views/ticket/ticket-inbox.html'"></div>

        <!-- right side navigation -->
        <div ng-include="'app/views/right-side-nav.html'"></div>

        <!-- tab panel -->
        <div class="console-tab-wrapper">
            <!--div ng-include="'app/views/console-tab-panel.html'"></div-->
            <scrollable-tabset ng-class="{'fix-console-tab':isFiexedTab==true,
                                         '':isFiexedTab==false}"
                               api="scrlTabsApi"
                               tooltip-left-placement="top"
                               id="consoleMainTab">
                <uib-tabset class="scrollable-tab-overwrite" active="activeTabIndex" id="tab_view">
                    <uib-tab class="console-main-tab"
                             index="tab.tabReference" ng-repeat="tab in tabs"
                             select="tabSelected(tab.tabReference)">
                        <uib-tab-heading>
                            <div class="pull-left">{{tab.title}}
                                <a data-ng-click='closeTab(tab)' class='btn btn-tab-close' href="javascript:">
                                    <span class='ti-close'></span></a>
                            </div>
                        </uib-tab-heading>

                        <div ng-switch on="tab.viewType">
                            <div ng-switch-when="engagement">
                                <engagement-tab load-tags="reloadTagAndCategories()"
                                                tag-category-list="tagCategories"
                                                tag-list="tags" users="users"
                                                session-id="{{tab.notificationData.sessionId}}"
                                                skill="{{tab.notificationData.skill}}"
                                                company="{{tab.notificationData.company}}"
                                                channel="{{tab.notificationData.channel}}"
                                                channel-from="{{tab.notificationData.channelFrom}}"
                                                channel-to="{{tab.notificationData.channelTo}}"
                                                direction="{{tab.notificationData.direction}}"
                                                profile-detail="tab.notificationData.userProfile"
                                                tab-reference="{{tab.tabReference}}"
                                                search-users="searchExternalUsers">

                                </engagement-tab>
                            </div>
                            <div ng-switch-when="ticketView ">
                                <ticket-tab-view ticket-details="tab" call-customer="veeryPhone.makeCall(callNumber)"
                                                 load-tags="reloadTagAndCategories()"
                                                 tag-category-list="tagCategories"
                                                 tag-list="tags"></ticket-tab-view>
                                <!--<div ng-include="'app/views/ticket/ticket-view.html'"></div>-->
                            </div>
                            <div ng-switch-when="filter">
                                <div ng-include="'app/views/ticket/filter/ticket-filter.html'"></div>
                            </div>
                            <div ng-switch-when="mail-inbox">
                                <div ng-include="'app/views/mail-inbox/inbox-view.html'"></div>
                            </div>
                            <div ng-switch-when="dashboard">
                                <div ng-include="'app/views/dashboard/agentDashBoard.html'"></div>
                            </div>
                            <!--<div ng-switch-when="userProfile">
                                <div ng-include="'app/views/profile/user-profile.html'"></div>
                            </div>-->
                        </div>
                    </uib-tab>
                </uib-tabset>
            </scrollable-tabset>
        </div>

    </div>

    <div ng-click="goToTopScroller();"
         ng-class="{'display-block bounceIn':isFiexedTab==true,
              'display-none':isFiexedTab==false}" class="quick-scroller bold animated">
        TOP
    </div>

    <!-- agent setting -->
    <div ng-include="'app/views/agent/agentSettings.html'"></div>
    <!-- WEB PHONE -->
    <!-- phone operation panel  -->
    <div id="softPhoneDragElem" class="draggable">
        <div class="isOperationPhone dial-pad-wrapper draggable">
            <div id="pinScreen" class="pin-screen-wrapper display-block" onclick="pinScreen()">
                <i class="ti-pin-alt"></i>

            </div>
            <div id="removePinScreen" class="pin-screen-wrapper display-none" onclick="removePin()">
                <i class="ti-pin2"></i>
            </div>
            <div class="phone-screen">
                <div class="no-action">
                    <input required type="text" class="phone-dialpad-no" id="number"
                           ng-model="call.number"
                           placeholder="000-00-000">
                </div>
                <div class="dial-action">
                    {{call.status}}
                </div>
                <div class="call-duations">
                    {{duations}}
                </div>
            </div>
            <!--#KeyPad-->
            <div id='divKeyPad' class="phone-dialpad-display ">
                <!--<input required type="text" class="phone-dialpad-no" id="number"-->
                <!--ng-model="call.number"-->
                <!--placeholder="Enter the phone no to call">-->
                <table class="phone-dialpad" id="phoneDialpad">
                    <tbody>
                    <tr>
                        <td>
                            <input type="button" class="phone-button" value="1" data-values='[1]'/>
                        </td>
                        <td>
                            <input type="button" class="phone-button" value="2" data-values='[2, "A", "B", "C"]'/>
                        </td>
                        <td>
                            <input type="button" class="phone-button" value="3" data-values='[3, "D", "E", "F"]'/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="phone-button" value="4" data-values='[4, "G", "H", "I"]'/>
                        </td>
                        <td>
                            <input type="button" class="phone-button" value="5" data-values='[5, "J", "K", "L"]'/>
                        </td>
                        <td>
                            <input type="button" class="phone-button" value="6" data-values='[6, "M", "N", "O"]'/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="phone-button" value="7" data-values='[7, "P", "Q", "R", "S"]'/>
                        </td>
                        <td>
                            <input type="button" class="phone-button" value="8" data-values='[8, "T", "U", "V"]'/>
                        </td>
                        <td>
                            <input type="button" class="phone-button" value="9" data-values='[9, "W", "X", "Y", "Z"]'/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="phone-button" value="*" data-values='["*"]'/>
                        </td>
                        <td>
                            <input type="button" class="phone-button" value="0" data-values='[0, " "]'/>
                        </td>
                        <td>
                            <input type="button" class="phone-button" value="#" data-values='["#"]'/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--PHONE MAIN WRAPPER -->
        <div class="isOperationPhone call-operation-wrapper animated flipInX" id="callOperation">
            <div id="phoneBtnWrapper" class="phone-button-wrapper ">
                <!-- answer button -->
                <div class="phone-sm-btn answer" id="answerButton"
                     ng-click="veeryPhone.makeAudioCall(call.number);">
                    <i class="veery-phone-icon-1-call-answer"></i>
                </div>
                <!-- call end button -->
                <div class="phone-sm-btn call-ended" id="endButton" ng-click="veeryPhone.endCall();">
                    <i class="veery-phone-icon-1-call-ended"></i>
                </div>
                <!-- dial pad -->
                <div class="phone-sm-btn phone-sm-bn-p8" ng-click="ShowHideDialpad();">
                    <i class="veery-font-1-menu-4"></i>
                </div>
                <!-- call hold button -->
                <div class="phone-sm-btn phone-sm-bn-p8" id="holdResumeButton" ng-click="veeryPhone.holdResumeCall();">
                    <i class="veery-font-1-pause"></i>
                </div>
                <!--  contact list button -->
                <div class="phone-sm-btn phone-sm-bn-p8"
                     ng-click="veeryPhone.showOnlineBtn();">
                    <i class="veery-font-1-more"></i>
                </div>
            </div>

            <div id="onlinePhoneBtnWrapper" class="phone-button-wrapper display-none">
                <!-- mute/unmiute hold button -->
                <div class="phone-sm-btn phone-sm-bn-p8" id="speakerButton"
                     ng-click="veeryPhone.muteCall();">

                </div>
                <!-- call transfer button -->
                <div id="transferCall" class="phone-sm-btn phone-sm-bn-p8 ">
                    <i class="main-icon-2-transfer-8"></i>
                </div>
                <!-- call swap button -->
                <div id="swapCall" class="phone-sm-btn phone-sm-bn-p8">
                    <i class="main-icon-2-transfer"></i>
                </div>
                <div class="phone-sm-btn phone-sm-bn-p8" ng-click="veeryPhone.hideOnlineBtn();">
                    <i class="ti-close"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- END PHONE -->
</div>


<div ui-view></div>

<!--phone VIdeo/audio panel-->
<div>
    <!--<div>
        <div id="divVideo">
            <div id="divVideoRemote">
                <video id="video_remote"
                       autoplay="autoplay"
                ></video>
            </div>

            <div id="divVideoLocalWrapper"
            >
                <iframe></iframe>
                <div id="divVideoLocal"
                >
                    <video id="video_local"
                           autoplay="autoplay"
                           muted="true"></video>
                </div>
            </div>
            <div id="divScreencastLocalWrapper"
            >
                <iframe></iframe>
                <div id="divScreencastLocal"
                >
                </div>
            </div>
            &lt;!&ndash;div id="div1" style="margin-left: 300px; border:0px solid #009; z-index: 1000">
            <iframe class="previewvideo" style="border:0px solid #009; z-index: 1000"> </iframe>
            <div id="div2" class="previewvideo" style='border:0px solid #009; z-index: 1000'>
            <input type="button" class="btn" style="" id="Button1" value="Button1" /> &nbsp;
            <input type="button" class="btn" style="" id="Button2" value="Button2" /> &nbsp;
            </div>
            </div&ndash;&gt;
        </div>
    </div>-->

    <div>
        <!-- Audios -->
        <audio id="audio_remote" autoplay="autoplay"></audio>
        <audio id="ringtone" loop src="/assets/sounds/ringtone.wav"></audio>
        <audio id="ringbacktone" loop src="/assets/sounds/ringbacktone.wav"></audio>
        <audio id="dtmfTone" src="/assets/sounds/dtmf.wav"></audio>
    </div>
</div>


<!--<div class="phone-btn" id="answerButton" ng-click="veeryPhone.makeAudioCall(call.number);">-->
<!--<i class="veery-phone-icon-1-call-answer"></i>-->
<!--</div>-->
<!--<div class="phone-btn" id="endButton" ng-click="veeryPhone.endCall();">-->
<!--<i class="veery-phone-icon-1-call-ended"></i>-->
<!--</div>-->
<!--<div class="phone-btn" id="holdResumeButton" ng-click="veeryPhone.holdResumeCall();">-->
<!--<i class="veery-phone-icon-1-phone-call-1"></i>-->
<!--</div>-->
<!--<div class="phone-btn">-->
<!--<i class="veery-font-1-user"></i>-->
<!--</div>-->
<!--<div class="phone-btn" id="muteButton" ng-click="veeryPhone.muteCall();">-->
<!--<i class="veery-font-1-mute"></i>-->
<!--</div>-->
<!--<div class="phone-btn" ng-click="ShowHideDialpad();">-->
<!--<i class="veery-font-1-menu-4"></i>-->
<!--</div>-->
<!--<div class="phone-btn" id="speakerButton" ng-click="veeryPhone.muteCall();">-->
<!--<i class="veery-font-1-speaker-4"></i>-->
<!--</div>-->
<!--<div class="phone-btn">-->
<!--<i class="veery-font-1-add"></i>-->
<!--</div>-->
<!--{{duations}}-->


<!--<div class="phone-btn">-->
<!--<i style="font-size: 38px;" class="veery-phone-icon-1-end-call-button"></i>-->
<!--</div>-->

