
<uib-tabset active="activeTabIndex" id="tab_view">
    <uib-tab class="console-main-tab" ng-repeat="tab in tabs" heading="{{tab.title}} "select="tabSelected(tab.tabReference)">
        <div ng-switch on="tab.viewType">
            <div ng-switch-when="engagement">
                <engagement-tab load-tags="reloadTagAndCategories()"
                                tag-category-list="tagCategories"
                                tag-list="tags" users="users"
                                session-id="{{tab.notificationData.sessionId}}"
                                skill="{{tab.notificationData.skill}}"
                                company="{{tab.notificationData.company}}"
                                channel="{{tab.notificationData.channel}}"
                                channel-from="{{tab.notificationData.channelFrom}}"
                                channel-to="{{tab.notificationData.channelTo}}"
                                direction="{{tab.notificationData.direction}}">

                </engagement-tab>
            </div>
            <div ng-switch-when="ticketView ">
                <ticket-tab-view  ticket-details="tab" call-customer="veeryPhone.makeCall(callNumber)"></ticket-tab-view>
                <!--<div ng-include="'app/views/ticket/ticket-view.html'"></div>-->
            </div>
            <div ng-switch-when="filter">
                <div ng-include="'app/views/ticket/filter/ticket-filter.html'"></div>
            </div>
            <div ng-switch-when="mail-inbox">
                <div ng-include="'app/views/mail-inbox/inbox-view.html'"></div>
            </div>
            <!--<div ng-switch-when="userProfile">
                <engagement-tab-update load-tags="reloadTagAndCategories()"
                                       tag-category-list="tagCategories"
                                       tag-list="tags" users="users"
                                       session-id="{{tab.notificationData.sessionId}}"
                                       skill="{{tab.notificationData.skill}}"
                                       company="{{tab.notificationData.company}}"
                                       channel="{{tab.notificationData.channel}}"
                                       channel-from="{{tab.notificationData.channelFrom}}"
                                       channel-to="{{tab.notificationData.channelTo}}"
                                       direction="{{tab.notificationData.direction}}">
                </engagement-tab-update>
            </div>-->
        </div>
    </uib-tab>
</uib-tabset>

<!--<uib-tabset active="activeTabIndex">-->
<!--<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}">Some content</uib-tab>-->
<!--</uib-tabset>-->


<!--<filecountbycategory category="fileCat" load-files="loadFilesByCat(fileCat)"-->
<!--ng-repeat="fileCat in Catagories" style="cursor: pointer">-->
<!--</filecountbycategory>-->
