<div class="animated view-notification-d-wrapper fadeIn" ng-if="showMesssageModal">
    <!-- notification send UI -->
    <div class="container">
        <div class="col-lg-offset-3 col-lg-4">
            <div class="notification-details-wrapper">
                <div id="uNotifiWrp" class="u-notification-wrp">
                    <div class="u-noti-h b-bottom animated" id="uNotiH ">
                        <div class="user-img">
                            <img src="assets/img/avatar/profileAvatar.png"
                                 ng-src="{{MessageObj.avatar}}">
                        </div>
                        <div class="agent-name">
                            {{MessageObj.from}}
                            <div class="chat-user-status">
                                <time-ago from-time='{{MessageObj.time}}'
                                          format='MM/dd/yyyy'></time-ago>
                            </div>
                        </div>

                    </div>
                    <!-- body -->
                    <div class="u-body notification-v">
                         <textarea disabled readonly ng-model="MessageObj.header" class="form-control" rows="6">
                </textarea>
                    </div>
                    <!-- footer -->
                    <div class="u-noti-footer">
                        <button class="btn btn-sm btn-sm-noti btn-green-op btn-min-w"
                                ng-click="keepNotification()">
                            Keep
                        </button>
                        <button class="btn btn-sm btn-sm-noti btn-green-op btn-min-w"
                                ng-click="addToTodo(MessageObj)">
                            Add to To-Do
                        </button>
                        <button class="btn btn-sm btn-sm-noti btn-red-0p btn-min-w"
                                ng-click="discardNotification(MessageObj)">
                            Discard
                        </button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>