<div>
    <!-- left main wrappper -->
    <div class="col-md-4 p-left-0 p-right-0">
        <div class="profile-left-wrapper">
            <div class="layout-header">
                <div class="col-md-8 col-sm-8">
                    <div class="left-text header-small pull-left">
                        ID :{{sessionId}}
                        <i class="veery-font-3-copy copy"></i>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 ">
                    <div class="btn-left-icon pull-right p-top-6"
                         ng-click="clickAddNewTicket();">
                        <i class="veery-font-1-add-2"></i>
                        new ticket
                    </div>
                </div>
            </div>
            <!-- END -->

            <!-- ENGAGEMENT WRAPPER -->
            <div ng-slimscroll
                 opacity="0.1"
                 distance="5px"
                 height="650px"
                 width="100%"
                 ng-mouseover="scrollEnabled = true"
                 ng-mouseleave="scrollEnabled = false"
                 enabled="{{ scrollEnabled }}">
                <div class="engagement-wrapper">
                    <div class="header-round-icon">
                        <div class="icon-left">
                            <i class="veery-font-1-user"></i>
                        </div>
                        <div class="text-header bold">
                            ENGAGEMENT {{test}}
                        </div>
                    </div>
                    <ul class="info-list-lg">
                        <li>
                            <small>Company</small>
                            <h5>{{company}}</h5>
                        </li>
                        <li>
                            <small>Direction</small>
                            <h5>{{direction}}</h5>
                        </li>
                        <li>
                            <small>Channel From</small>
                            <h5>{{channelFrom}}</h5>
                        </li>
                        <li>
                            <small>Channel To</small>
                            <h5>{{channelTo}}</h5>
                        </li>
                        <li>
                            <small>Channel</small>
                            <h5>{{channel}}</h5>
                        </li>
                        <li>
                            <small>Skill</small>
                            <h5>{{skill}}</h5>
                        </li>
                    </ul>
                    <div class="new-note-wrapper">
                        <label class="label-green">Note</label>
                        <textarea class="form-control" rows="3" ng-model="noteBody"></textarea>
                        <div class="btn-warp inline-btn  p-top-6 pull-right">
                            <span class="btn  btn-default btn-sm " ng-click="AppendNoteToEngagementSession(noteBody);">save</span>
                        </div>
                    </div>
                    <div class="engagement-note-list">
                        <div class="note-wrap" ng-repeat="engNote in currentEngagement.notes">
                            <div class="left-icon">
                                <i class="veery-font-1-list"></i>
                            </div>
                            {{engNote.body}}11
                        </div>

                    </div>
                </div>
                <div class="IVR-wrapper">
                    <div class="header-round-icon">
                        <div class="icon-left">
                            <i class="veery-font-1-user"></i>
                        </div>
                        <div class="text-header bold">
                            IVR DETAILS
                        </div>
                    </div>

                    <div class="IVR-details-wrap">
                        <div class="ivr-list">
                            APPLICATIONFOUND";103;1; APP";"
                            EVENT"; "SYSTEM";"2016-08-22 02:14:42.612-04"
                        </div>
                        <div class="ivr-list">
                            APPLICATIONFOUND";103;1; APP";"
                            EVENT"; "SYSTEM";"2016-08-22 02:14:42.612-04"
                        </div>
                        <div class="ivr-list">
                            APPLICATIONFOUND";103;1; APP";"
                            EVENT"; "SYSTEM";"2016-08-22 02:14:42.612-04"
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->
        </div>
        <!-- END LEFT WRAPPER-->
    </div>
    <!-- right main wrapper -->
    <div class="col-md-8 p-left-0 p-right-0">

        <div class="profile-right-wrapper">
            <div class="profile-wrap">
                <div class="layout-header">
                    <div class="col-md-4 col-sm-3">
                        <div class="left-text">
                            Profile Detail
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-9 ">
                        <div class="btn-wrapper">
                            <div class="btn-warp inline-btn">
                                <span class="btn  btn-default">new</span>
                            </div>
                            <div class="btn-warp inline-btn">
                                <span class="btn  btn-default">search</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END LAYOUT HEADER -->

                <!-- PROFILE DETAILS BODY -->

                <div class="profile-body-wrapper">
                    <div class="profile-img-wrapper">
                        <div class="col-lg-3 ">
                            <div class="profile-details-img">
                                <img src="assets/img/avatar/profile_img150x150.jpg">
                            </div>
                            <div class="profile-status">
                                Jesse
                                <br/>
                                <span>+94715986462</span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="profile-details-info">
                                <div class="col-sm-6 p-left-0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5 class="header-text-h5">Personal Infomation</h5>
                                        </div>
                                    </div>
                                    <ul class="info-list">
                                        <li>
                                            <small>First Name</small>
                                            <h5>Jesse</h5>
                                        </li>
                                        <li>
                                            <small>Last Name</small>
                                            <h5>Pinkman</h5>
                                        </li>
                                    </ul>
                                    <ul class="info-list">
                                        <li>
                                            <small>Full Name</small>
                                            <h5>Jesse Pinkman</h5>
                                        </li>
                                    </ul>
                                    <ul class="info-list">
                                        <li>
                                            <small>Email</small>
                                            <h5>JessePinkman@breakingbad.com</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5 class="header-text-h5">Address</h5>
                                        </div>
                                    </div>
                                    <ul class="info-list">
                                        <li>
                                            <small>PO.Box No</small>
                                            <h5>322 16th</h5>
                                        </li>
                                        <li>
                                            <small>Street</small>
                                            <h5>St SW,Albuquerque</h5>
                                        </li>
                                    </ul>
                                    <ul class="info-list">
                                        <li>
                                            <small>City</small>
                                            <h5>Albuquerque</h5>
                                        </li>
                                    </ul>

                                </div>
                            </div>


                        </div>
                    </div>


                </div>
                <!-- END PROFILE DETAILS BODY -->


            </div>

            <div class="profile-details-tab">
                <uib-tabset class="profile-tab-wrapper" active="active">
                    <uib-tab class="profile-tab" heading="time-line">
                        <div ng-include="'app/views/time-line/profile-time-line.html'"></div>
                    </uib-tab>
                    <uib-tab class="profile-tab" heading="ticket">
                        <div ng-include="'app/views/ticket/profile-ticket-view.html'"></div>
                    </uib-tab>
                </uib-tabset>
            </div>

        </div>
    </div>
    <!-- END RIGHT WRAPPER-->
    <!-- add new ticket -->
    <div ng-show="showCreateTicket">
        <div class="position-relative">
            <div id="addNewTicket" class="animated fixed-model-opacity">
                <div class="container">
                    <div class="col-lg-offset-2 col-lg-8 col-md-8 col-xs-8 ">
                        <div class="model-main-wrapper ">
                            <!-- MODEL HEADER -->
                            <div class="model-header">
                                <div class="col-md-6">
                                    <div class="mode-left-icon">
                                        <i class="veery-font-1-notepad"></i>
                                    </div>
                                    <div class="model-header-text">
                                        Add New Ticket
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 ">
                                    <div class="model-btn-wrapper">
                                        <div class="btn-warp ">
                                <span class="btn btn-default btn-close"
                                      ng-click="clickAddNewTicket('#addNewTicket','display-none')"
                                      id="closeTicket">close</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MODEL HEADER -->

                            <!-- MODEL HEADER -->
                            <div class="model-body">
                                <form>
                                    <div class="form-group">
                                        <label for="ticketSubject">Subject</label>
                                        <input type="text" class="form-control" id="ticketSubject" placeholder="">
                                    </div>

                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-xs-7">
                                                <label for="ticketSubject">Priority</label>
                                                <div class="form-inline">
                                                    <div class="bg-checkbox red font-white inline-btn">
                                                        <i class="main-icon-2-cancel"></i>
                                                        urgent
                                                    </div>
                                                    <div class="bg-checkbox red font-white orange">
                                                        <i class="main-icon-2-cancel"></i>
                                                        high
                                                    </div>
                                                    <div class="bg-checkbox red font-white teal600">
                                                        <i class="main-icon-2-cancel"></i>
                                                        normal
                                                    </div>
                                                    <div class="bg-checkbox red font-white gray300">
                                                        <i class="main-icon-2-cancel"></i>
                                                        low
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="form-group">
                                                    <label for="ticketSubject">Type</label>
                                                    <select class="form-control">
                                                        <option>Select type</option>
                                                        <option>question</option>
                                                        <option>complain</option>
                                                        <option>incident</option>
                                                        <option>action</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="ticketSubject">Tags</label>
                                        <tags-input ng-model="tags">
                                            <auto-complete source="loadTags($query)"></auto-complete>
                                        </tags-input>
                                    </div>
                                    <div class="form-group">
                                        <label for="ticketSubject">Description</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="ticketSubject">Assignee user</label>
                                        <tags-input ng-model="users"
                                                    display-property="profileName"
                                                    placeholder="choose assignee user"
                                                    replace-spaces-with-dashes="false">
                                            <auto-complete source="loadUser($query)"
                                                           min-length="0"
                                                           load-on-focus="true"
                                                           load-on-empty="true"
                                                           max-results-to-show="32"
                                                           template="my-custom-template">
                                            </auto-complete>
                                        </tags-input>
                                        <script type="text/ng-template" id="my-custom-template">
                                            <div class="auto-complete-left-panel">
                                                <img ng-src="{{data.img}}"/>
                                            </div>
                                            <div class="auto-complete-right-panel">
                                                <span ng-bind-html="$highlight($getDisplayText())"></span>
                                            </div>
                                        </script>
                                    </div>
                                    <div class="form-group">
                                        <label for="ticketSubject">Related Tickets</label>
                                        <tags-input ng-model="related" placeholder="enter here.."
                                        <auto-complete source="loadTags($query)"></auto-complete>
                                        </tags-input>
                                    </div>

                                </form>
                            </div>
                            <!-- END MODEL HEADER -->
                            <div class="model-footer-wrapper">
                                <div class="model-btn-wrapper">
                                    <div class="btn-warp ">
                                <span class="btn btn-default"
                                      ng-click="clickAddNewTicket('#addNewTicket','display-none')"
                                        >Save</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ROW -->

