<div class="container">
    <!-- left main wrappper -->
    <div class="col-md-4">
        <div class="profile-left-wrapper">

        </div>
        <!-- END LEFT WRAPPER-->
    </div>
    <!-- right main wrapper -->
    <div class="col-md-8">
        <div class="profile-right-wrapper">
            <div class="profile-wrap">
                <div class="layout-header">
                    <div class="left-text">
                        Profile Detail
                    </div>
                    <div class="model-btn-wrapper">
                        <div class="btn-warp">
                            <span class="btn btn-default">my ticket</span>
                        </div>
                        <div class="btn-warp">
                            <span class="btn btn-default">group</span>
                        </div>
                        <div class="btn-warp ">
                            <span class="btn btn-default btn-close" >close</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- END RIGHT WRAPPER-->
    </div>
</div>
<!-- END ROW -->